/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

$sizes: 1, 2, 3;

@each $size in $sizes {
  .margin-#{$size} {
    margin: #{$size}rem;
  }

  .margin-top-#{$size} {
    margin-top: #{$size}rem;
  }

  .margin-bottom-#{$size} {
    margin-bottom: #{$size}rem;
  }

  .margin-left-#{$size} {
    margin-left: #{$size}rem;
  }

  .margin-right-#{$size} {
    margin-right: #{$size}rem;
  }
}

.hidden {
  display: none !important;
}

.true-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.blank-slate {
  font-size: 2rem;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  padding: 20%;
}

.has-suffix {
  align-items: center;
}

.action-row {
  width: 100%;
}

.validation-errors {
  min-height: 30px;
  padding-top: 5px;

  .error-message {
    display: flex;
    align-items: center;

    color: #f00;
    opacity: 0.7;

    ion-icon {
      margin-right: 5px;
    }
  }
}

ion-list {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

ion-card-title, ion-card-subtitle {
  text-align: center;
}

.alert-tappable {
  height: auto !important;
  contain: content !important;

  .alert-radio-label {
    white-space: normal !important;
  }
}

.spaced-label {
  margin-bottom: 10px !important;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.select-small-subtext {
  font-size: 80%;
  opacity: 0.7;
  font-style: italic;
}

.big-alert .alert-wrapper {
  min-width: 80%;
}

.change {
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 0.8em;
  font-size: 20px;
}