<ion-header>
  <ion-toolbar color="navbar">
    <ion-title>
      {{ title || 'Select Something...' }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss(formattedSelected)" [disabled]="numChoices > 0 && numSelected !== numChoices">
        Confirm
      </ion-button>
      <ion-button (click)="dismiss()">
        Cancel
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{ message }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let choice of choices; let i = index"
                  [disabled]="disableChoices?.includes(choice.name) || (numChoices > 0 && numSelected >= numChoices && !selected[i]) || disableBanned && bannedChoices.includes(choice.name)">
          <ion-label class="ion-text-wrap">
            <h2>{{ choice.name }}</h2>
            <p *ngIf="!disableBanned && bannedChoices?.includes(choice.name)"><em>Warning: You already have this.</em></p>
            <p *ngIf="choice.text" [innerHTML]="choice.text | markdown"></p>
          </ion-label>

          <ion-checkbox #checkbox slot="end" (ionChange)="selectItem(checkbox, i)" [checked]="selected[i]"></ion-checkbox>
        </ion-item>

        <ion-item color="tertiary" class="pointer" (click)="addCustom()" *ngIf="allowCustom">
          <ion-icon slot="start" name="add"></ion-icon>
          Add Custom
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
