<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">

  <ion-tabs>
    <ion-tab-bar slot="bottom" color="tertiary" [class.hidden]="isCreating">
      <ion-tab-button tab="characters">
        <ion-icon name="people"></ion-icon>
        <ion-label>Characters</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="campaigns">
        <ion-icon name="albums"></ion-icon>
        <ion-label>Campaigns</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
