.upper {
  width: 100%;
  position: absolute;
  display: grid;
  justify-items: center;
}

.holder {
  width: 900px;
  background-color: #F4EDDB;
}

.top, .logo {
  background-repeat: no-repeat;
  padding: 0;
}

.top {
  background-size: 900px 160px;
  width: 900px;
  height: 160px;
  background-image: url('/assets/splash/header-rootrpg.png');
}

.logo {
  background-size: 470px 160px;
  width: 470px;
  height: 160px;
  margin-top: -125px;
  background-image: url('/assets/splash/logo-rootrpg.png');
}

.items {
  height: 640px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  grid-row-gap: 15px;
  grid-column-gap: 30px;
  padding: 0;
  margin: 0;
  list-style: none;
  padding-left: 40px;
  margin-top:35px;
}

.copyright {
  color: #9a917a;
  font-size: 10px;
  font-family: sans-serif;
  margin-bottom: 30px;
}

.lederheight {
  height: 40px;
}

.lederimg {
  width: 164px;
  height: 18px;
}

.magpieimg {
  width: 130px;
}

.item1 {
  order: 1;
  width: 300px;
}

.item2 {
  order: 3;
  background-image: url('/assets/splash/buy-print.png');
  padding: 20px;
  padding-left: 220px;
  padding-top: 50px;
  border-radius: 15px;
  width: 475px;
  height: 300px;
  background-repeat: no-repeat;
  color: #000;
  font-size: 16px;
  font-family: sans-serif;
}

.item3 {
  order: 2;
  width: 300px;
  height: 368px;
  background-color: transparent;
}

.item4 {
  width: 475px;
  height: 300px;
  order: 4;
  background-image: url('/assets/splash/buy-drivethrurpg.png');
  background-repeat: no-repeat;
  padding: 20px;
  padding-top: 50px;
  padding-right: 220px;
  border-radius: 15px;
  color: #000;
  font-size: 16px;
  font-family: sans-serif;
}

.campaign {
  font-size: 32px;
  color: #4c6b65;
}

.description {
  font-family: sans-serif;
  font-size: 16px;
  color: #000
}

@media (max-width: 480px) {
  .holder {
    width: 485px;
  }

  .items {
    height: 1190px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .item1 {
    width: 475px;
  }

  .item3 {
    width: 475px;
  }

  .top {
    width: 485px;
  }
}

.login {
  margin: 0px;
  padding: 15px;
  background-color: #4c6b65;

  ion-card-title, ion-label {
    color: #fff;
    z-index: 100;
  }

  &, ion-list, ion-item, .validation-errors {
    --background: #4c6b65;
    --ion-item-background: #4c6b65;
    --color: #fff;
    background: #4c6b65;
  }

  ion-input {
    color: #000;
    font-size: 18px;
  }
}

.labelcurrentLoginState {
  font-size: 25px;
  color: #fff;
}

.cardcontent {
  padding: 0;
  margin: 0;
  line-height: 1;
}

.ionlabel {
  margin-bottom: 5px;
  color: #fff;
  font-family: sans-serif;
  font-size: 18px;
}

.lumin {
  font-family: 'Luminari';
}

.buttonphysical, .buttondigital {
  margin-left: -10px;

  ion-button {
    width: 150px;
    padding: 11px;
    font-size: 18px;
    text-transform: uppercase;
    height: 60px;
    padding-left: 10px;
  }
}

.buttonphysical {
  ion-button {
    --background: #a48020;
  }
}

.buttondigital {
  margin-left: -10px;

  ion-button {
    --background: #2e6969;
  }
}

.center, .copyright {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
