
<div class="map-editor"></div>

<div class="map-editor-help" *ngIf="editable">
  <table>
    <tr>
      <td class="action">Add Forest</td>
      <td>Alt+Click Empty Space</td>
    </tr>

    <tr>
      <td class="action">Add Lake</td>
      <td>Shift+Click Empty Space</td>
    </tr>

    <tr>
      <td class="action">Move Node</td>
      <td>Drag Node</td>
    </tr>

    <tr>
      <td class="action">Add Link</td>
      <td>Shift+Click Node, Drag To Node</td>
    </tr>

    <tr>
      <td class="action">Delete Link</td>
      <td>Click Link</td>
    </tr>

    <tr>
      <td class="action">Delete Forest/Lake</td>
      <td>Click Node, Delete</td>
    </tr>
  </table>
</div>
