<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard/characters"></ion-back-button>
    </ion-buttons>

    <ion-title>
      View Character
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="dashboard/characters"></ion-back-button>
      </ion-buttons>

      <ion-title size="large">View Character</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    {{ character | json }}
  </div>
</ion-content>
