<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="tertiary">
      <ion-tab-button tab="info">
        <ion-icon name="body"></ion-icon>
        <ion-label>Character</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="abilities">
        <ion-icon name="podium"></ion-icon>
        <ion-label>Abilities</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="inventory">
        <ion-icon name="shirt"></ion-icon>
        <ion-label>Inventory</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
