<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons *ngIf="!isSearchOpen" slot="start">
      <ion-back-button defaultHref="dashboard/characters"></ion-back-button>
    </ion-buttons>

    <ion-title *ngIf="!isSearchOpen">
      <ng-container *ngIf="data.char$ | async as character">
        {{ character?.name || 'Loading...' }}
      </ng-container>
    </ion-title>

    <ion-searchbar *ngIf="isSearchOpen" 
                   color="primary"
                   showCancelButton="true"
                   debounce="300"
                   (ionCancel)="setSearchValue(null)"
                   (ionClear)="setSearchValue(null)"
                   (ionChange)="setSearchValue($event.detail.value)"
                   placeholder="Search Abilities"></ion-searchbar>

    <ion-buttons slot="end">
      <ion-button (click)="toggleSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="data.char$ | async as character">

    <ion-card>
      <ion-card-header>
        <ion-card-title>Nature</ion-card-title>
        <ion-icon class="change" name="reload" (click)="changeNature(character)"></ion-icon>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item (click)="viewNature(character.nature)" *ngIf="filterArray([character.nature]).length > 0">
            {{ character.nature }}
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Drives</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let drive of filterArray(getDrives(character))" (click)="viewDrive(drive)">
            {{ drive }}<span *ngIf="character.driveTargets && character.driveTargets[drive] as target">&nbsp;({{ target }})</span>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Moves</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let move of filterArray(getMoves(character))" (click)="viewMove(move)">
            {{ move }}
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Skills</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let skill of filterArray(getSkills(character))" (click)="viewSkill(skill)">
            {{ skill }}
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Feats</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let feat of filterArray(getFeats(character))" (click)="viewFeat(feat)">
            {{ feat }}
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    
  </ng-container>
</ion-content>
