<ion-header>
  <ion-toolbar color="navbar">
    <ion-buttons *ngIf="!isSearchOpen" slot="start">
      <ion-back-button defaultHref="dashboard/characters"></ion-back-button>
    </ion-buttons>

    <ion-title *ngIf="!isSearchOpen">
      <ng-container *ngIf="data.char$ | async as character">
        {{ character?.name || 'Loading...' }}
      </ng-container>
    </ion-title>

    <ion-searchbar *ngIf="isSearchOpen"
                   color="primary"
                   showCancelButton="true"
                   debounce="300"
                   (ionCancel)="closeSearch()"
                   (ionClear)="setSearchValue(null)"
                   (ionChange)="setSearchValue($event.detail.value)"
                   placeholder="Search Abilities"></ion-searchbar>

    <ion-buttons slot="end">
      <ion-button (click)="toggleSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="data.char$ | async as character">

    <ion-row>
      <ion-col size="12" size-lg="6">

        <ion-card>
          <ion-card-header>
            <ion-card-title>Moves</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-list class="special-formatting">
              <ng-container *ngFor="let move of filterArray(getMoves(character))">
                <ion-item class="pointer">
                  <ion-label class="ion-text-wrap">
                    <h2>{{ move }}</h2>
                    <p [innerHTML]="content.getMove(move)?.text | markdown" *ngIf="expanded[move]"></p>
                  </ion-label>

                  <ion-button slot="end" fill="clear" (click)="toggle(move)">
                    <ion-icon [name]="expanded[move] ? 'remove' : 'add'"></ion-icon>
                  </ion-button>
                </ion-item>
              </ng-container>
            </ion-list>
          </ion-card-content>
        </ion-card>

      </ion-col>

      <ion-col size="12" size-lg="6">
        <ion-row>
          <ion-col size="12">

            <ion-card>
              <ion-card-header>
                <ion-card-title>Weapon Skills</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <ion-list class="special-formatting">
                  <ion-item class="pointer" *ngFor="let skill of filterArray(getSkills(character))">
                    <ion-label class="ion-text-wrap">
                      <h2>{{ skill }}</h2>
                      <p [innerHTML]="content.getSkill(skill)?.text | markdown" *ngIf="expanded[skill]"></p>
                    </ion-label>

                    <ion-button slot="end" fill="clear" (click)="toggle(skill)">
                      <ion-icon [name]="expanded[skill] ? 'remove' : 'add'"></ion-icon>
                    </ion-button>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>

          </ion-col>

          <ion-col>

            <ion-card>
              <ion-card-header>
                <ion-card-title>Roguish Feats</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <ion-list class="special-formatting">
                  <ion-item class="pointer" *ngFor="let feat of filterArray(getFeats(character))">
                    <ion-label class="ion-text-wrap">
                      <h2>{{ feat }}</h2>
                      <p [innerHTML]="content.getFeat(feat)?.text | markdown" *ngIf="expanded[feat]"></p>
                    </ion-label>

                    <ion-button slot="end" fill="clear" (click)="toggle(feat)">
                      <ion-icon [name]="expanded[feat] ? 'remove' : 'add'"></ion-icon>
                    </ion-button>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>

          </ion-col>
        </ion-row>

      </ion-col>

    </ion-row>

  </ng-container>
</ion-content>
