
.stat {
  text-align: center;

  .stat-name {
    font-weight: bold;
  }

  .stat-value {
    font-size: 2rem;
  }
}

.harm-row {

  .harm-label, .harm-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .harm-label {
    font-size: 1.1rem;
    font-weight: bold;
    min-width: 30%;
    max-width: 30%;
    justify-content: flex-end;
    cursor: pointer;
  }

  .harm-box {
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
  }
}

.reputation-row {

  .reputation-label {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .reputation-label {
    font-weight: bold;
    min-width: 30%;
    max-width: 30%;
    justify-content: flex-end;
  }

  .notoriety-track, .prestige-track {
    display: flex;

    ion-icon {
      cursor: pointer;
    }
  }

  .notoriety-track {
    flex-direction: row-reverse;
    min-width: 70px;
  }

  .prestige-track {
    min-width: 110px;
  }

  .current-level {
    font-weight: bold;
    text-align: center;
  }

  .notoriety-level {
    text-align: right;
  }

  .prestige-level, .notoriety-level {
    cursor: pointer;
  }

  ion-icon {
    font-size: 1.2rem;
  }
}

ion-item {
  cursor: pointer;
}