
.inline-portrait {
  position: relative;
  margin-top: 5em;
  margin-bottom: 2em;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  .flair {
    height: 64px;
  }

  .portrait {
    position: absolute;
    border-radius: 10px;
    border: 3px solid #cecbb3;
  }
}

.stat-col {
  min-height: 60px;
  width: 60px;
  max-width: 80px;

  .stat-bg {
    position: absolute;
    z-index: 0;
  }

  .stat {
    font-size: 1.8rem;
    z-index: 10;
    position: absolute;
    left: 8px;
  }
}

.harm-row {

  .harm-label, .harm-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .harm-label {
    font-size: 1.1rem;
    font-weight: bold;
    min-width: 30%;
    max-width: 30%;
    justify-content: flex-end;
    cursor: pointer;
  }

  .harm-box {
    font-size: 2rem;
    text-align: center;
    cursor: pointer;

    @media screen and (max-width: 960px) {
      font-size: 1.5rem;
    }
  }
}
