<ion-header [translucent]="true">
  <ion-toolbar color="navbar">
    <ion-title>
      Account
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Account</ion-title>
    </ion-toolbar>

    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-header>

  <ion-row>
    <ion-col push="2" pull="2" size="8">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Account Information
          </ion-card-title>
        </ion-card-header>

        <ion-card-content *ngIf="api.user$ | async as user">
          <ion-list>
            <ion-item>
              <ion-label>
                <h3>Join Date</h3>
                <p>{{ user.createdAt | date }}</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-label>
                <h3>Email</h3>
                <p>{{ user.email }}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>

      </ion-card>

    </ion-col>
  </ion-row>
</ion-content>
