<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard/characters"></ion-back-button>
    </ion-buttons>

    <ion-title>
      <ng-container *ngIf="data.char$ | async as character">
        {{ character?.name || 'Loading...' }}
      </ng-container>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="data.char$ | async as character">
    <ion-list>
      <ion-list-header class="weight-header">
        <ion-row>
          <ion-col>
            <strong>Carrying</strong> {{ carrying(character) }} | <strong>Burdened</strong> @ {{ burdened(character) }} | <strong>Max</strong> @ {{ max(character) }}
          </ion-col>
        </ion-row>
      </ion-list-header>

      <ion-item *ngFor="let item of character.items">
        <app-item [item]="item"></app-item>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>
