<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard/characters"></ion-back-button>
    </ion-buttons>

    <ion-title>
      <ng-container *ngIf="data.char$ | async as character">
        {{ character?.name || 'Loading...' }}
      </ng-container>
    </ion-title>

    <ion-buttons slot="end">
      <ng-container *ngIf="data.char$ | async as character">
        <ion-button (click)="addNewItem(character)">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ng-container>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container *ngIf="data.char$ | async as character">

    <div class="blank-slate" *ngIf="character.items.length === 0">
      You have no items.
    </div>

    <ion-list *ngIf="character.items.length !== 0">
      <ion-list-header class="weight-header">
        <ion-row>
          <ion-col>
            <strong>Carrying</strong> {{ carrying(character) }} | <strong>Burdened</strong> @ {{ burdened(character) }} | <strong>Max</strong> @ {{ max(character) }}
          </ion-col>
        </ion-row>
      </ion-list-header>

      <ion-item *ngFor="let item of character.items; let i = index" class="ion-hide-md-up">
        <app-item [item]="item" 
                  appSwipe
                  (swipeLeft)="wear(item, -1)" 
                  (swipeRight)="wear(item, 1)" 
                  appLongPress="500"
                  (release)="itemOptions(character, item, i)"></app-item>
      </ion-item>

      <ion-item *ngFor="let item of character.items; let i = index" class="ion-hide-md-down">
        <app-item [item]="item"></app-item>

        <ion-button slot="end" color="secondary" (click)="wear(item, -1)" [disabled]="item.wearUsed <= 0">
          <ion-icon slot="icon-only" name="remove"></ion-icon>
        </ion-button>

        <ion-button slot="end" color="secondary" (click)="wear(item, 1)" [disabled]="item.wearUsed >= item.wear">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
        
        <ion-button slot="end" fill="clear" (click)="showItemEditPopover(character, item, i, $event)">
          <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-item>

    </ion-list>
  </ng-container>
</ion-content>
