
.special-card {
  display: flex;
  justify-content: center;
  --background: transparent;
  box-shadow: none;

  .special-text {
    position: absolute;
    color: #000;
    z-index: 50;
    bottom: 30px;
  }
}
