
ion-fab {
  width: 28px !important;
  height: 28px !important;

  bottom: 77px !important;
  right: 20px !important;

  ion-fab-button {
    width: 28px !important;
    height: 28px !important;
  }
}
