<ion-header [translucent]="true">
  <ion-toolbar color="navbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard/campaigns"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Create Campaign
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="dashboard/campaigns"></ion-back-button>
      </ion-buttons>

      <ion-title size="large">Create Campaign</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-row>
      <ion-col class="campaign-container">
        <form [formGroup]="campaignForm">
          <ion-card>

            <ion-card-header>
              <ion-card-title>
                Create New Campaign
              </ion-card-title>
            </ion-card-header>

            <ion-card-content>

              <ion-list>
                <ion-item>
                  <ion-label position="stacked">Campaign Name</ion-label>
                  <ion-input type="text" formControlName="campaignName" maxlength="50"></ion-input>
                </ion-item>

                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validationMessages.campaignName">
                    <div class="message" *ngIf="campaignForm.get('campaignName').hasError(validation.type) && (campaignForm.get('campaignName').dirty || campaignForm.get('campaignName').touched)">
                      <ion-icon name="warning-outline"></ion-icon> {{ validation.message }}
                    </div>
                  </ng-container>
                </div>

                <ion-list-header>
                  <ion-label>
                    Campaign Factions
                  </ion-label>

                  <ion-button (click)="changeFactions()">
                    <ion-icon slot="icon-only" name="list-outline"></ion-icon>
                  </ion-button>
                </ion-list-header>

                <ion-item *ngIf="campaignForm.get('campaignFactions').value.length === 0" color="danger">
                  You must have at least one faction to create a campaign.
                </ion-item>

                <ion-item *ngFor="let faction of campaignForm.get('campaignFactions').value">
                  {{ faction }}
                </ion-item>

                <ion-list-header class="margin-top-2">Confirm</ion-list-header>
                <ion-item lines="none">
                  <ion-label class="ion-text-wrap">
                    The rest of your world will be generated based on these parameters. Your factions will be changeable post-create, but will not retroactively affect the created clearings.
                    Make sure you finalize your factions and clearings before giving any players your campaign ID, as their character creation process is tied to those specific pieces of information.
                    You also <strong>cannot change factions or clearing names</strong> when you have players in your campaign.
                  </ion-label>
                </ion-item>

                <ion-item class="margin-top-2" lines="none">
                  <ion-row class="action-row">
                    <ion-col>
                    </ion-col>

                    <ion-col class="ion-text-right">
                      <ion-button color="primary" [disabled]="isDoing || campaignForm.invalid" (click)="create()">
                        <ion-spinner slot="start" *ngIf="isDoing"></ion-spinner>
                        Create Campaign
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-item>
              </ion-list>

            </ion-card-content>

          </ion-card>
        </form>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
