<ion-header [translucent]="true">
  <ion-toolbar color="navbar">
    <ion-title>
      Root RPG
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Root RPG</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <h3>Root: The RPG Campaign Keeper Beta</h3>
    <br>
    <strong>Ready to embark on an adventure?</strong>
    <p>Create an account <a [routerLink]="['/login']">over here</a>!</p>
  </div>
</ion-content>
