
.record-card, .new-record {
  min-height: 250px;
}

.record-card {
  ion-card-title, ion-card-subtitle {
    text-align: left;
  }
}

.new-record {
  padding-top: 1rem;
  padding-bottom: 3rem;
  cursor: pointer;

  &:hover {
    box-shadow: rgba(var(--ion-color-primary-rgb), 0.5) 0px 3px 1px -2px,
                rgba(var(--ion-color-primary-rgb), 0.54) 0px -1px 2px 2px,
                rgba(var(--ion-color-primary-rgb), 0.54) 0px 2px 2px 2px,
                rgba(var(--ion-color-primary-rgb), 0.52) 0px 1px 5px 2px;
  }

  .icon-row {
    text-align: center;
    padding-top: 2rem;

    ion-icon {
      font-size: 3rem;
      opacity: 0.5;
    }
  }

  .text-row {
    text-align: center;
    font-size: 2rem;
    opacity: 0.5;
  }
}

.before-play-box {
  white-space: pre-line;
}
