<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'dashboard/campaigns/view/' + (data.campaign$ | async)?._id + '/clearings'"></ion-back-button>
    </ion-buttons>

    <ion-title>
      {{ (data.campaignClearing$ | async).clearing?.name }} Events
    </ion-title>

    <ion-buttons slot="end">

      <ion-button (click)="toggleEdit()">
        <ion-icon slot="icon-only" name="pencil"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="(data.campaignClearing$ | async).clearing as clearing">
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Before Play</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <p *ngIf="!isEditing">{{ clearing.eventRecord.beforePlay }}</p>

              <!-- before play history -->
              <ion-list *ngIf="isEditing">
                <ion-item>
                  <ion-label position="stacked">Before Play History</ion-label>
                  <ion-textarea [(ngModel)]="clearing.eventRecord.beforePlay" placeholder="Enter Clearing pre-play history" maxlength="1000" rows="7"></ion-textarea>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-xs="12" size-md="6" size-lg="4" *ngFor="let record of clearing.eventRecord.visited">
          {{ record | json }}
        </ion-col>

        <ion-col size-xs="12" size-md="6" size-lg="4">
          <ion-card class="new-record">
            <ion-row class="icon-row">
              <ion-col>
                <ion-icon name="add"></ion-icon>
              </ion-col>
            </ion-row>

            <ion-row class="text-row">
              <ion-col>
                New Visit Record
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
  </ng-container>
</ion-content>
