<ion-header>
  <ion-toolbar color="navbar">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'dashboard/campaigns/view/' + (data.campaign$ | async)?._id + '/clearings'" *ngIf="!isEditing"></ion-back-button>
    </ion-buttons>

    <ion-title>
      {{ (data.campaignClearing$ | async).clearing?.name }} Events
    </ion-title>

    <ion-buttons slot="end">
      <ng-container *ngIf="(data.campaignClearing$ | async).clearing as clearing">
        <ion-button (click)="toggleEdit(clearing)" *ngIf="!isEditing">
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-button>

        <ion-button (click)="confirmEdit(clearing)" *ngIf="isEditing">
          <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
        </ion-button>
      </ng-container>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="(data.campaignClearing$ | async).clearing as clearing">
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Before Play</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <p *ngIf="!isEditing" class="before-play-box">{{ clearing.eventRecord.beforePlay }}</p>

              <!-- before play history -->
              <ion-list *ngIf="isEditing">
                <ion-item>
                  <ion-label position="stacked">Before Play History</ion-label>
                  <ion-textarea [(ngModel)]="clearingCopy.eventRecord.beforePlay" placeholder="Enter Clearing pre-play history" maxlength="1000" rows="7"></ion-textarea>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col *ngFor="let visit of clearing.eventRecord.visited; let i = index"
                 size-xs="12" size-md="6" size-lg="4"
                 lines="none"
                 class="ion-hide-md-up"
                 appLongPress="500"
                 (release)="showDeleteActionSheet(clearing, visit)">

          <ng-container [ngTemplateOutlet]="visitCard"
                        [ngTemplateOutletContext]="{ clearing: clearing, record: visit, index: i }"></ng-container>

        </ion-col>


        <ion-col *ngFor="let visit of clearing.eventRecord.visited; let i = index"
                 size-xs="12" size-md="6" size-lg="4"
                 lines="none"
                 class="ion-hide-md-down">

          <ng-container [ngTemplateOutlet]="visitCard"
                        [ngTemplateOutletContext]="{ clearing: clearing, record: visit, index: i, big: true }"></ng-container>

        </ion-col>

        <ion-col size-xs="12" size-md="6" size-lg="4">
          <ion-card class="new-record" (click)="addNewVisitRecord(clearing)">
            <ion-row class="icon-row">
              <ion-col>
                <ion-icon name="add"></ion-icon>
              </ion-col>
            </ion-row>

            <ion-row class="text-row">
              <ion-col>
                New Visit Record
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
  </ng-container>
</ion-content>

<ng-template #visitCard let-clearing="clearing" let-record="record" let-index="index" let-big="big">

  <ion-card class="record-card">
    <ion-card-header>
      <ion-card-title>Vagabond Visit #{{ index + 1 }}</ion-card-title>
      <ion-card-subtitle>Recorded {{ record.timestamp | date:'medium' }}</ion-card-subtitle>

      <ion-button class="card-header-button" fill="clear" (click)="showDeletePopover($event, clearing, record)" *ngIf="big">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label class="ion-text-wrap">
            <p class="fake-form-label">Vagabond Actions</p>
            <h2 class="can-be-preformatted">{{ record.visitText }}</h2>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-wrap">
            <p class="fake-form-label">War Continuation Actions ({{ record.warContinuesType }})</p>
            <h2 class="can-be-preformatted">{{ record.warContinuesText }}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ng-template>
