<ion-header>
  <ion-toolbar color="navbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard/campaigns"></ion-back-button>
    </ion-buttons>

    <ion-title>
      <ng-container *ngIf="data.campaign$ | async as campaign">
        {{ campaign?.name || 'Loading...' }}
      </ng-container>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="toggleLegend()" class="ion-hide-lg-down">
        <ion-icon slot="icon-only" name="information-circle"></ion-icon>
      </ion-button>

      <ng-container *ngIf="(data.campaign$ | async) as campaign">
        <ion-button (click)="toggleEdit(campaign)" *ngIf="!isEditing" class="ion-hide-lg-down">
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-button>

        <ion-button (click)="confirmEdit(campaign)" *ngIf="isEditing" class="ion-hide-lg-down">
          <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
        </ion-button>
      </ng-container>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="legend" *ngIf="showLegend">
    <div class="legend-row">
      <img src="assets/map/card-fox.png" />
      <img src="assets/map/card-mouse.png" />
      <img src="assets/map/card-rabbit.png" />
      <div class="desc">Denizen Majority</div>
    </div>

    <div class="legend-row">
      <img src="assets/map/faction-eyrie.png" />
      <img src="assets/map/faction-marquise.png" />
      <img src="assets/map/faction-woodland.png" />
      <div class="desc">Clearing Faction Owner</div>
    </div>

    <div class="legend-row">
      <img src="assets/map/token-keep.png" />
      <div class="desc">Marquise Keep</div>
    </div>

    <div class="legend-row">
      <img src="assets/map/token-roost.png" />
      <div class="desc">Eyrie Roost</div>
    </div>

    <div class="legend-row">
      <img src="assets/map/token-sympathy.png" />
      <div class="desc">Alliance Sympathy</div>
    </div>

    <div class="legend-row">
      <img src="assets/map/token-base-fox.png" />
      <img src="assets/map/token-base-mouse.png" />
      <img src="assets/map/token-base-rabbit.png" />
      <div class="desc">Alliance Base</div>
    </div>

  </div>

  <ng-container *ngIf="data.campaign$ | async as campaign">

    <app-woodland-map [campaign]="isEditing ? campaignCopy : campaign"
                      [editable]="isEditing"
                      class="ion-hide-lg-down"
                      (chooseClearing)="clickMapClearing($event, campaign)"
                      (moveNode)="moveNode($event)"
                      (addEdge)="addEdge($event)"
                      (removeEdge)="removeEdge($event)"></app-woodland-map>

    <ion-row class="ion-hide-lg-up">
      <ion-col *ngFor="let clearing of campaign.clearings; let i = index" size-xs="12" size-md="6"
               [routerLink]="[i]">
        <ion-card class="clearing-card pointer">
          <ion-card-header>
            <ion-card-title>
              {{ clearing.name }} ({{ clearing.status }})
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <p><strong>Controlled By:</strong> {{ clearing.controlledBy }}</p>
            <p><strong>Dominant Community:</strong> {{ clearing.current.dominantFaction }}</p>
            <p><strong>Conflicts:</strong> {{ clearing.current.conflicts }}</p>
            <p><strong>NPCs:</strong> {{ getClearingNPCs(clearing).join(', ') || 'none' }}</p>
            <p *ngIf="clearing.eventRecord.visited.length > 0"><strong>Visited {{ clearing.eventRecord.visited.length }} time(s)</strong></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ng-container>
</ion-content>
