<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard/campaigns"></ion-back-button>
    </ion-buttons>

    <ion-title>
      <ng-container *ngIf="data.campaign$ | async as campaign">
        {{ campaign?.name || 'Loading...' }}
      </ng-container>
    </ion-title>

    <ion-buttons slot="end">
      <ng-container *ngIf="(data.campaign$ | async) as campaign">
        <ion-button (click)="toggleEdit(campaign)" *ngIf="!isEditing" class="ion-hide-lg-down">
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-button>

        <ion-button (click)="confirmEdit(campaign)" *ngIf="isEditing" class="ion-hide-lg-down">
          <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
        </ion-button>
      </ng-container>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="data.campaign$ | async as campaign">

    <app-woodland-map [campaign]="isEditing ? campaignCopy : campaign"
                      [editable]="isEditing"
                      class="ion-hide-lg-down"
                      (chooseClearing)="clickMapClearing($event, campaign)"
                      (addEdge)="addEdge($event)"
                      (removeEdge)="removeEdge($event)"></app-woodland-map>

    <ion-row class="ion-hide-lg-up">
      <ion-col *ngFor="let clearing of campaign.clearings; let i = index" size-xs="12" size-md="6"
               [routerLink]="[i]">
        <ion-card class="clearing-card pointer">
          <ion-card-header>
            <ion-card-title>
              {{ clearing.name }} ({{ clearing.status }})
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <p><strong>Ruled By:</strong> {{ clearing.current.ruler }}</p>
            <p><strong>Contested By:</strong> {{ clearing.contestedBy }}</p>
            <p><strong>Dominant Faction:</strong> {{ clearing.current.dominantFaction }}</p>
            <p><strong>Conflicts:</strong> {{ clearing.current.conflicts }}</p>
            <p *ngIf="clearing.eventRecord.visited.length > 0"><strong>Visited {{ clearing.eventRecord.visited.length }} time(s)</strong></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ng-container>
</ion-content>
