<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="situation">
        <ion-icon name="options"></ion-icon>
        <ion-label>Situation</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="landscape">
        <ion-icon name="earth"></ion-icon>
        <ion-label>Landscape</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="events">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Events</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="npcs">
        <ion-icon name="paw"></ion-icon>
        <ion-label>NPCs</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
