
.wear-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  margin-top: 20px;
  margin-bottom: 20px;

  .wear-label {
    font-size: 80%;
    font-style: italic;
  }

  .wear-squares, .wear-label {
    text-align: center;
    min-height: 20px;
  }
}

.calculated {
  text-align: center;
  font-style: italic;
  opacity: 0.7;
  font-size: 80%;

  p {
    width: 100%;
  }
}

ion-item.none {
  font-style: italic;
  opacity: 0.7;
}