<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      My Campaigns
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['create']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Campaigns</ion-title>

      <ion-buttons slot="end">
        <ion-button [routerLink]="['create']">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="blank-slate" *ngIf="!campaigns">
    <ion-spinner></ion-spinner>
  </div>

  <div class="blank-slate" *ngIf="campaigns?.length === 0">
    You have no campaigns.
  </div>

  <ion-row *ngIf="campaigns?.length > 0">

    <ion-col *ngFor="let campaign of campaigns"
             size-xs="12" size-md="6" size-lg="6" size-xl="3"
             lines="none"
             class="ion-hide-md-up"
             appLongPress="500"
             (release)="showDeleteActionSheet(campaign)"
             [routerLink]="['view', campaign._id]">

      <ng-container [ngTemplateOutlet]="campaignCard"
                    [ngTemplateOutletContext]="{ campaign: campaign }"></ng-container>

    </ion-col>


    <ion-col *ngFor="let campaign of campaigns"
             size-xs="12" size-md="6" size-lg="6" size-xl="3"
             lines="none"
             class="ion-hide-md-down"
             [routerLink]="['view', campaign._id]">

      <ng-container [ngTemplateOutlet]="campaignCard"
                    [ngTemplateOutletContext]="{ campaign: campaign, big: true }"></ng-container>

    </ion-col>

  </ion-row>

  <ion-infinite-scroll (ionInfinite)="loadMoreCampaigns($event)" [class.hidden]="campaigns?.length === 0">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more campaigns...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<ng-template #campaignCard let-campaign="campaign" let-big="big">

  <ion-card class="campaign-card">
    <ion-card-header>
      <ion-card-title>{{ campaign.name }}</ion-card-title>

      <ion-button class="card-header-button" fill="clear" (click)="showDeletePopover($event, campaign)" *ngIf="big">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-card-header>

    <ion-card-content>
      <p>{{ campaign.characterNames.length }} character(s) joined:</p>
      <ul>
        <li *ngFor="let name of campaign.characterNames">{{ name }}</li>
      </ul>
    </ion-card-content>
  </ion-card>

</ng-template>
