<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      NPC Creator
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="npcForm">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">NPC Name</ion-label>
        <ion-input type="text" formControlName="name" placeholder="Enter NPC Name" maxlength="25"></ion-input>
      </ion-item>

      <ion-item color="tertiary" (click)="dismiss(this.formNPC)" [disabled]="npcForm.invalid">
        <ion-icon slot="start" name="add"></ion-icon>
        {{ npc ? 'Update' : 'Create' }} NPC
      </ion-item>
    </ion-list>
  </form>
</ion-content>
