<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      NPC Creator
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="npcForm">
    <ion-list>
      <ion-item class="has-suffix">
        <ion-label position="stacked">Name</ion-label>
        <ion-input type="text" formControlName="name" placeholder="Enter NPC name" maxlength="50"></ion-input>
        <ion-button slot="end" (click)="pickRandomName()">
          <ion-icon slot="icon-only" name="sync"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Look</ion-label>
        <ion-textarea formControlName="look" placeholder="Enter NPC look" maxlength="1000" rows="7"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Faction</ion-label>
        <ion-select formControlName="faction" placeholder="Choose NPC faction">
          <ion-select-option *ngFor="let choice of validFactions" [value]="choice">
            {{ choice }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="pointer background-hover" (click)="chooseNPCDrive()">
        <ion-label>
          <p class="fake-form-label">Drive</p>
          <h2 class="form-placeholder" *ngIf="!npcForm.get('drive').value">Choose NPC Drive</h2>
          <h2 *ngIf="npcForm.get('drive').value">{{ npcForm.get('drive').value }}</h2>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Notes</ion-label>
        <ion-textarea formControlName="notes" placeholder="Enter NPC notes" maxlength="1000" rows="7"></ion-textarea>
      </ion-item>

      <ion-item class="harm" lines="none" *ngFor="let harm of ['Injury', 'Exhaustion', 'Depletion', 'Morale']">
        <ion-button slot="start" color="secondary" (click)="adjustHarm(harm.toLowerCase(), -1)" [disabled]="npcForm.get(harm.toLowerCase()).value <= 0">
          <ion-icon slot="icon-only" name="remove"></ion-icon>
        </ion-button>

        <div class="harm-center">
          <div class="harm-label">{{ harm }}: {{ npcForm.get(harm.toLowerCase()).value }}</div>
          <div class="harm-squares">
            <ion-icon name="square-outline" *ngFor="let slot of boxSlots(harm.toLowerCase())"></ion-icon>
          </div>
        </div>

        <ion-button slot="end" color="secondary" (click)="adjustHarm(harm.toLowerCase(), 1)" [disabled]="npcForm.get(harm.toLowerCase()).value >= 5">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-list-header>
        <ion-label>
          Items
        </ion-label>

        <ion-button (click)="addRandomItem('Weapon')">
          <ion-icon slot="icon-only" name="hammer"></ion-icon>
        </ion-button>

        <ion-button (click)="addRandomItem('Shield')">
          <ion-icon slot="icon-only" name="shield"></ion-icon>
        </ion-button>

        <ion-button (click)="addRandomItem('Armor')">
          <ion-icon slot="icon-only" name="shirt"></ion-icon>
        </ion-button>

        <ion-button (click)="addItem()">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-list-header>

      <ion-item *ngIf="npcForm.get('equipment').value.length === 0">No items</ion-item>

      <ion-item *ngFor="let item of npcForm.get('equipment').value">
        <app-item [item]="item"></app-item>

        <ion-button slot="end" color="danger" (click)="removeItem(item)">
          <ion-icon slot="icon-only" name="remove"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item color="tertiary" class="pointer" (click)="dismiss(this.formNPC)" [disabled]="npcForm.invalid">
        <ion-icon slot="start" name="add"></ion-icon>
        {{ npc ? 'Update' : 'Create' }} NPC
      </ion-item>
    </ion-list>
  </form>
</ion-content>
