<ion-header>
  <ion-toolbar color="primary">
    <ion-title *ngIf="!isSearchOpen">
      Advancement
    </ion-title>

    <ion-searchbar *ngIf="isSearchOpen"
                   color="primary"
                   showCancelButton="true"
                   debounce="300"
                   (ionCancel)="closeSearch()"
                   (ionClear)="setSearchValue(null)"
                   (ionChange)="setSearchValue($event.detail.value)"
                   placeholder="Search Moves"></ion-searchbar>

    <ion-buttons slot="end">
      <ion-button (click)="toggleSearch()" *ngIf="currentStep === Step.DifferentPlaybook">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>

      <ion-button (click)="dismiss()" *ngIf="currentStep === Step.Choose">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ng-container *ngIf="data.char$ | async as character">
    <ion-row>
      <ion-col>
        <div class="character-container">
          <ng-container [ngSwitch]="currentStep">

            <ng-container [ngTemplateOutlet]="choose"
                          [ngTemplateOutletContext]="{ character: character }"
                          *ngSwitchCase="Step.Choose"></ng-container>

            <ng-container [ngTemplateOutlet]="stat"
                          [ngTemplateOutletContext]="{ character: character }"
                          *ngSwitchCase="Step.Stat"></ng-container>

            <ng-container [ngTemplateOutlet]="myplaybook"
                          [ngTemplateOutletContext]="{ character: character }"
                          *ngSwitchCase="Step.MyPlaybook"></ng-container>

            <ng-container [ngTemplateOutlet]="differentplaybook"
                          [ngTemplateOutletContext]="{ character: character }"
                          *ngSwitchCase="Step.DifferentPlaybook"></ng-container>

            <ng-container [ngTemplateOutlet]="weaponskills"
                          [ngTemplateOutletContext]="{ character: character }"
                          *ngSwitchCase="Step.WeaponSkills"></ng-container>

            <ng-container [ngTemplateOutlet]="roguishfeats"
                          [ngTemplateOutletContext]="{ character: character }"
                          *ngSwitchCase="Step.RoguishFeats"></ng-container>

            <ng-container [ngTemplateOutlet]="harmbox"
                          [ngTemplateOutletContext]="{ character: character }"
                          *ngSwitchCase="Step.HarmBox"></ng-container>

            <ng-container [ngTemplateOutlet]="connections"
                          [ngTemplateOutletContext]="{ character: character }"
                          *ngSwitchCase="Step.Connections"></ng-container>

          </ng-container>
        </div>
      </ion-col>
    </ion-row>
  </ng-container>
</ion-content>

<ng-template #choose let-character="character">
  <ion-card>

    <ion-card-header>
      <ion-card-title>
        Character Advancement
      </ion-card-title>

      <ion-card-subtitle>
        Choose one type of advancement for your character.
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <ion-list>
        <ion-item class="pointer" *ngFor="let step of advancementTypes" detail="true" (click)="setAdvancementStep(step.step)" [disabled]="step.disabled(character)">
          {{ step.name }}
        </ion-item>
      </ion-list>

    </ion-card-content>

  </ion-card>
</ng-template>

<ng-template #stat let-character="character">
  <ion-card>

    <ion-card-header>
      <ion-card-title>
        Stat Advancement
      </ion-card-title>

      <ion-card-subtitle>
        Take +1 to a stat (max +2)
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <ion-list>

        <ion-radio-group [(ngModel)]="chosenStat">
          <ion-item class="pointer" *ngFor="let stat of content.getStats()" [disabled]="character.stats[stat.toLowerCase()] >= 2">
            <ion-label class="ion-text-wrap">
              <h2>{{ stat }} (Base: {{ character.stats[stat.toLowerCase()] | withPlus }})</h2>
              <p>{{ content.getStat(stat).text }}</p>
            </ion-label>
            <ion-radio slot="end" [value]="stat.toLowerCase()"></ion-radio>
          </ion-item>
        </ion-radio-group>

        <ion-item lines="none">
          <ion-row class="action-row">
            <ion-col size="12" size-sm="6">
              <ion-button color="secondary" (click)="back()">
                <ion-icon slot="start" name="caret-back"></ion-icon>
                Back
              </ion-button>
            </ion-col>

            <ion-col size="12" size-sm="6" class="ion-text-right">
              <ion-button color="primary" (click)="confirmStat(character)" [disabled]="!chosenStat">
                <ion-icon slot="end" name="caret-forward"></ion-icon>
                Confirm
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>

    </ion-card-content>

  </ion-card>
</ng-template>

<ng-template #myplaybook let-character="character">
  <ion-card>

    <ion-card-header>
      <ion-card-title>
        New Move: {{ character.archetype }}
      </ion-card-title>

      <ion-card-subtitle>
        Take a new move from your playbook (max 5)
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <ion-list>

        <ion-radio-group [(ngModel)]="chosenMove" (ionChange)="changeMove($event, character)">
          <ion-item *ngFor="let move of allMoves[character.archetype]"
                    [disabled]="character.moves.includes(move)">
            <ion-label class="ion-text-wrap">
              <h2>{{ move }}</h2>
              <p [innerHTML]="content.getMove(move)?.text | markdown"></p>
            </ion-label>

            <ion-radio slot="end" [value]="move"></ion-radio>
          </ion-item>
        </ion-radio-group>

        <ion-item lines="none">
          <ion-row class="action-row">
            <ion-col size="12" size-sm="6">
              <ion-button color="secondary" (click)="back()">
                <ion-icon slot="start" name="caret-back"></ion-icon>
                Back
              </ion-button>
            </ion-col>

            <ion-col size="12" size-sm="6" class="ion-text-right">
              <ion-button color="primary" (click)="confirmMove(character)" [disabled]="!chosenMove">
                <ion-icon slot="end" name="caret-forward"></ion-icon>
                Confirm
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>

    </ion-card-content>

  </ion-card>
</ng-template>

<ng-template #differentplaybook let-character="character">
  <ion-card>

    <ion-card-header>
      <ion-card-title>
        New Move: Another Playbook
      </ion-card-title>

      <ion-card-subtitle>
        Take a new move from another playbook (max 2)
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <ion-list>

        <ion-radio-group [(ngModel)]="chosenMove" (ionChange)="changeMove($event, character)">
          <ng-container *ngFor="let archMoves of allMoves | keyvalue">
            <ion-list-header [class.hidden]="archMoves.key === character.archetype">
              <strong>{{ archMoves.key }}</strong>
            </ion-list-header>

            <ion-item class="pointer"
                      [class.hidden]="archMoves.key === character.archetype"
                      *ngFor="let move of filterArray(archMoves.value)"
                      [disabled]="character.moves.includes(move)">
              <ion-label class="ion-text-wrap">
                <h2>{{ move }}</h2>
                <p [innerHTML]="content.getMove(move)?.text | markdown"></p>
              </ion-label>

              <ion-radio slot="end" [value]="move"></ion-radio>
            </ion-item>
          </ng-container>
        </ion-radio-group>

        <ion-item lines="none">
          <ion-row class="action-row">
            <ion-col size="12" size-sm="6">
              <ion-button color="secondary" (click)="back()">
                <ion-icon slot="start" name="caret-back"></ion-icon>
                Back
              </ion-button>
            </ion-col>

            <ion-col size="12" size-sm="6" class="ion-text-right">
              <ion-button color="primary" (click)="confirmMove(character)" [disabled]="!chosenMove">
                <ion-icon slot="end" name="caret-forward"></ion-icon>
                Confirm
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>

    </ion-card-content>

  </ion-card>
</ng-template>

<ng-template #weaponskills let-character="character">
  <ion-card>

    <ion-card-header>
      <ion-card-title>
        Weapon Skill Advancement
      </ion-card-title>

      <ion-card-subtitle>
        Take up to two new weapon skills (max 7)
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <ion-list>

        <ng-container *ngFor="let x of [0, 1]">
          <ion-item class="pointer" [class.hidden]="x === 1 && character.skills.length >= 6">
            <ion-label position="stacked">New Weapon Skill {{ x + 1 }}</ion-label>
            <ion-select [(ngModel)]="chosenSkills[x]" placeholder="Choose weapon skill">
              <ion-select-option *ngFor="let choice of content.getWeaponSkills()" [value]="choice" [disabled]="allSkills(character).includes(choice) || chosenSkills[x === 0 ? 1 : 0] === choice">
                {{ choice }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="chosenSkills[x]">
            <ion-label class="ion-text-wrap">
              <p [innerHTML]="content.getSkill(chosenSkills[x])?.text | markdown"></p>
            </ion-label>
          </ion-item>
        </ng-container>

        <ion-item lines="none">
          <ion-row class="action-row">
            <ion-col size="12" size-sm="6">
              <ion-button color="secondary" (click)="back()">
                <ion-icon slot="start" name="caret-back"></ion-icon>
                Back
              </ion-button>
            </ion-col>

            <ion-col size="12" size-sm="6" class="ion-text-right">
              <ion-button color="primary" (click)="confirmSkills(character)" [disabled]="!chosenSkills[0] && !chosenSkills[1]">
                <ion-icon slot="end" name="caret-forward"></ion-icon>
                Confirm
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>

    </ion-card-content>

  </ion-card>
</ng-template>

<ng-template #roguishfeats let-character="character">
  <ion-card>

    <ion-card-header>
      <ion-card-title>
        Roguish Feat Advancement
      </ion-card-title>

      <ion-card-subtitle>
        Take up to two new roguish feats (max 6)
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <ion-list>

        <ng-container *ngFor="let x of [0, 1]">
          <ion-item class="pointer" [class.hidden]="x === 1 && character.feats.length >= 5">
            <ion-label position="stacked">New Roguish Feat {{ x + 1 }}</ion-label>
            <ion-select [(ngModel)]="chosenFeats[x]" placeholder="Choose roguish feat">
              <ion-select-option *ngFor="let choice of content.getFeats()" [value]="choice" [disabled]="allFeats(character).includes(choice) || chosenFeats[x === 0 ? 1 : 0] === choice">
                {{ choice }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="chosenFeats[x]">
            <ion-label class="ion-text-wrap">
              <p [innerHTML]="content.getFeat(chosenFeats[x])?.text | markdown"></p>
            </ion-label>
          </ion-item>
        </ng-container>

        <ion-item lines="none">
          <ion-row class="action-row">
            <ion-col size="12" size-sm="6">
              <ion-button color="secondary" (click)="back()">
                <ion-icon slot="start" name="caret-back"></ion-icon>
                Back
              </ion-button>
            </ion-col>

            <ion-col size="12" size-sm="6" class="ion-text-right">
              <ion-button color="primary" (click)="confirmFeats(character)" [disabled]="!chosenFeats[0] && !chosenFeats[1]">
                <ion-icon slot="end" name="caret-forward"></ion-icon>
                Confirm
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>

    </ion-card-content>

  </ion-card>
</ng-template>

<ng-template #harmbox let-character="character">
  <ion-card>

    <ion-card-header>
      <ion-card-title>
        Harm Box Advancement
      </ion-card-title>

      <ion-card-subtitle>
        Add one box to any one harm track (max 6 each)
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <ion-list>

        <ion-radio-group [(ngModel)]="chosenHarm">
          <ion-item class="pointer" *ngFor="let harm of ['Injury', 'Exhaustion', 'Depletion']" [disabled]="character.harmBoost[harm.toLowerCase()] >= 2">
            <ion-label class="ion-text-wrap">
              <h2>{{ harm }} (Base: {{ (character.harmBoost[harm.toLowerCase()] || 0) | withPlus }})</h2>
            </ion-label>
            <ion-radio slot="end" [value]="harm.toLowerCase()"></ion-radio>
          </ion-item>
        </ion-radio-group>

        <ion-item lines="none">
          <ion-row class="action-row">
            <ion-col size="12" size-sm="6">
              <ion-button color="secondary" (click)="back()">
                <ion-icon slot="start" name="caret-back"></ion-icon>
                Back
              </ion-button>
            </ion-col>

            <ion-col size="12" size-sm="6" class="ion-text-right">
              <ion-button color="primary" (click)="confirmHarm(character)">
                <ion-icon slot="end" name="caret-forward"></ion-icon>
                Confirm
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>

    </ion-card-content>

  </ion-card>
</ng-template>

<ng-template #connections let-character="character">
  <ion-card>

    <ion-card-header>
      <ion-card-title>
        Connections Advancement
      </ion-card-title>

      <ion-card-subtitle>
        Take up to two new connections (max 6 total)
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <ion-list>

        <ng-container *ngFor="let x of [0, 1]">
          <ion-item class="pointer">
            <ion-label position="stacked">New Connection {{ x + 1 }}</ion-label>
            <ion-select [(ngModel)]="chosenConnections[x].name" placeholder="Choose connection type">
              <ion-select-option *ngFor="let choice of content.getConnections()" [value]="choice">
                {{ choice }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="chosenConnections[x].name">
            <ion-label class="ion-text-wrap">
              <p [innerHTML]="content.getConnection(chosenConnections[x].name)?.text | markdown"></p>
            </ion-label>
          </ion-item>

          <ion-item class="pointer" *ngIf="chosenConnections[x].name">
            <ion-input type="text" [placeholder]="'Choose ' + chosenConnections[x].name + ' target'" [(ngModel)]="chosenConnections[x].target" maxlength="50"></ion-input>
          </ion-item>
        </ng-container>

        <ion-item lines="none">
          <ion-row class="action-row">
            <ion-col size="12" size-sm="6">
              <ion-button color="secondary" (click)="back()">
                <ion-icon slot="start" name="caret-back"></ion-icon>
                Back
              </ion-button>
            </ion-col>

            <ion-col size="12" size-sm="6" class="ion-text-right">
              <ion-button color="primary" (click)="confirmConnections(character)" [disabled]="!chosenConnections[0].target || !chosenConnections[1].target">
                <ion-icon slot="end" name="caret-forward"></ion-icon>
                Confirm
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>

    </ion-card-content>

  </ion-card>
</ng-template>
