<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard/campaigns"></ion-back-button>
    </ion-buttons>

    <ion-title>
      <ng-container *ngIf="data.campaign$ | async as campaign">
        {{ campaign?.name || 'Loading...' }}
      </ng-container>
    </ion-title>

    <ion-buttons slot="end">
      <ng-container *ngIf="data.campaign$ | async as campaign">
        <ion-button (click)="addNewNPC(campaign)">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ng-container>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="data.campaign$ | async as campaign">
    <div class="blank-slate" *ngIf="!campaign.npcs || campaign.npcs.length === 0">You do not have any unattached NPCs.</div>

    <ion-row>
      <ion-col *ngFor="let npc of campaign.npcs">
        <app-npc [npc]="npc"></app-npc>
      </ion-col>
    </ion-row>
  </ng-container>
</ion-content>
