<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      My Characters
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['create']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Characters</ion-title>

      <ion-buttons slot="end">
        <ion-button [routerLink]="['create']">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="blank-slate" *ngIf="!characters">
    <ion-spinner></ion-spinner>
  </div>

  <div class="blank-slate" *ngIf="characters?.length === 0">
    You have no characters.
  </div>

  <ion-row *ngIf="characters?.length > 0">

    <ion-col *ngFor="let character of characters"
             size-xs="12" size-md="6" size-lg="6" size-xl="3"
             lines="none"
             class="ion-hide-md-up"
             appLongPress="500"
             (release)="showDeleteActionSheet(character)"
             [routerLink]="['view', character._id]">

      <ng-container [ngTemplateOutlet]="characterCard"
                    [ngTemplateOutletContext]="{ character: character }"></ng-container>

    </ion-col>


    <ion-col *ngFor="let character of characters"
             size-xs="12" size-md="6" size-lg="6" size-xl="3"
             lines="none"
             class="ion-hide-md-down"
             [routerLink]="['view', character._id]">

      <ng-container [ngTemplateOutlet]="characterCard"
                    [ngTemplateOutletContext]="{ character: character, big: true }"></ng-container>

    </ion-col>

  </ion-row>

  <ion-infinite-scroll (ionInfinite)="loadMoreCharacters($event)" [class.hidden]="characters?.length === 0">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more characters...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ng-template #characterCard let-character="character" let-big="big">

  <ion-card class="character-card">
    <ion-card-header>
      <ion-card-title>{{ character.name }}, {{ character.archetype }}</ion-card-title>

      <ion-button class="card-header-button" fill="clear" (click)="showDeletePopover($event, character)" *ngIf="big">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-card-header>

    <ion-card-content>
      <p>{{ character.species }} / {{ character.adjectives.join(', ') }} / {{ character.demeanor.join(', ') }}</p>
      <p *ngIf="character.campaign">Part of "{{ character.campaignName || 'unknown campaign' }}"</p>
      <p>{{ character.nature }} Nature</p>
      <p>Driven by {{ character.drives.join(' & ') }}</p>
    </ion-card-content>
  </ion-card>

</ng-template>
