<ion-content>
  <div class="container">
    <ion-row>
      <ion-col class="reset-container">
        <form [formGroup]="resetForm">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                Password Reset
              </ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-list>
                <ion-item>
                  <ion-label position="stacked">New Password</ion-label>
                  <ion-input type="password" formControlName="password" (keyup.enter)="handleSubmit()"></ion-input>
                </ion-item>

                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validationMessages.password">
                    <div class="message" *ngIf="resetForm.get('password').hasError(validation.type) && (resetForm.get('password').dirty || resetForm.get('password').touched)">
                      <ion-icon name="warning-outline"></ion-icon> {{ validation.message }}
                    </div>
                  </ng-container>
                </div>

                <ion-item lines="none">
                  <ion-row class="action-row">
                    <ion-col>
                    </ion-col>

                    <ion-col class="ion-text-right">
                      <ion-button color="primary" [disabled]="isDoing || resetForm.invalid" (click)="handleSubmit()">
                        <ion-spinner slot="start" *ngIf="isDoing"></ion-spinner>
                        Reset Password
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-item>
              </ion-list>

            </ion-card-content>

          </ion-card>
        </form>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
