<ion-header>
  <ion-toolbar color="navbar">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'dashboard/campaigns/view/' + (data.campaign$ | async)?._id + '/clearings'" *ngIf="!isEditing"></ion-back-button>
    </ion-buttons>

    <ion-title>
      {{ (data.campaignClearing$ | async).clearing?.name }} Situation
    </ion-title>

    <ion-buttons slot="end">
      <ng-container *ngIf="data.campaign$ | async as campaign">
        <ng-container *ngIf="(data.campaignClearing$ | async) as clearingData">
          <ion-button (click)="toggleEdit(campaign, clearingData.index)" *ngIf="!isEditing">
            <ion-icon slot="icon-only" name="pencil"></ion-icon>
          </ion-button>

          <ion-button (click)="confirmEdit(clearingData.clearing)" *ngIf="isEditing">
            <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
          </ion-button>
        </ng-container>
      </ng-container>

      <ion-button (click)="openBackground()" *ngIf="!isEditing">
        <ion-icon slot="icon-only" name="book"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="data.campaign$ | async as campaign">
    <ng-container *ngIf="(data.campaignClearing$ | async) as clearingData">

      <ion-row>
        <ion-col size-xs="12" size-lg="6">
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{ clearingData.clearing.name }} Status</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-list>

                <!-- change clearing name (edit only) -->
                <ion-item *ngIf="isEditing && !campaign.characterNames">
                  <ion-label position="stacked">Clearing Name</ion-label>
                  <ion-input type="text" [(ngModel)]="clearingCopy.name" placeholder="Enter Clearing name"></ion-input>
                </ion-item>

                <!-- clearing ruler -->
                <!--
                <ion-item *ngIf="!isEditing">
                  <ion-label>
                    <p class="fake-form-label">Clearing Ruler</p>
                    <h2>{{ clearing.current.ruler }}</h2>
                  </ion-label>
                </ion-item>

                <ion-item *ngIf="isEditing">
                  <ion-label position="stacked">Clearing Ruler</ion-label>
                  <ion-input type="text" [(ngModel)]="clearingCopy.current.ruler" placeholder="Enter Clearing ruler"></ion-input>
                </ion-item>
                -->

                <!-- clearing status -->
                <ion-item *ngIf="!isEditing">
                  <ion-label>
                    <p class="fake-form-label">Clearing Status</p>
                    <h2>{{ clearingData.clearing.status }}</h2>
                  </ion-label>
                </ion-item>

                <ion-item *ngIf="isEditing">
                  <ion-label position="stacked">Clearing Status</ion-label>
                  <ion-select [(ngModel)]="clearingCopy.status" placeholder="Choose Clearing status">
                    <ion-select-option *ngFor="let choice of ['untouched', 'battle-scarred', 'occupied', 'fortified']" [value]="choice">
                      {{ choice }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>

                <!-- controlled by -->
                <ion-item *ngIf="!isEditing">
                  <ion-label>
                    <p class="fake-form-label">Controlled By</p>
                    <h2>{{ clearingData.clearing.controlledBy }}</h2>
                  </ion-label>
                </ion-item>

                <ion-item *ngIf="isEditing">
                  <ion-label position="stacked">Controlled By</ion-label>
                  <ion-select [(ngModel)]="clearingCopy.controlledBy" placeholder="Choose Clearing controlling faction">
                    <ion-select-option *ngFor="let choice of getFactionRuleChoices(campaign.factions)" [value]="choice">
                      {{ choice }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>

                <!-- sympathetic -->
                <ion-item *ngIf="!isEditing">
                  <ion-label>
                    <p class="fake-form-label">Sympathetic?</p>
                    <h2>{{ clearingData.clearing.sympathy ? 'Yes' : 'No' }}</h2>
                  </ion-label>
                </ion-item>

                <ion-item *ngIf="isEditing">
                  <ion-label position="stacked">Sympathetic?</ion-label>
                  <ion-toggle [(ngModel)]="clearingCopy.sympathy"></ion-toggle>
                </ion-item>

                <!-- contested by -->
                <!--
                <ion-item *ngIf="!isEditing">
                  <ion-label>
                    <p class="fake-form-label">Contested By</p>
                    <h2>{{ clearing.contestedBy }}</h2>
                  </ion-label>
                </ion-item>

                <ion-item *ngIf="isEditing">
                  <ion-label position="stacked">Contested By</ion-label>
                  <ion-select [(ngModel)]="clearingCopy.contestedBy" placeholder="Choose Clearing contesting faction">
                    <ion-select-option *ngFor="let choice of campaign.factions" [value]="choice">
                      {{ choice }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                -->

                <!-- dominant faction -->
                <ion-item *ngIf="!isEditing">
                  <ion-label>
                    <p class="fake-form-label">Dominant Community</p>
                    <h2>{{ clearingData.clearing.current.dominantFaction }}</h2>
                  </ion-label>
                </ion-item>

                <ion-item *ngIf="isEditing">
                  <ion-label position="stacked">Dominant Community</ion-label>
                  <ion-select [(ngModel)]="clearingCopy.current.dominantFaction" placeholder="Choose Clearing dominant community">
                    <ion-select-option *ngFor="let choice of ['Rabbit', 'Mouse', 'Fox']" [value]="choice">
                      {{ choice }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>

              </ion-list>

            </ion-card-content>
          </ion-card>

          <app-notes [notes]="clearingData.clearing.notes" (updateNotes)="updateNotes(clearingData.clearing, $event)"></app-notes>
        </ion-col>

        <ion-col size-xs="12" size-lg="6">
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{ clearingData.clearing.name }} Description</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-list>

                <!-- conflicts -->
                <ion-list-header>
                  Problems
                  <ion-icon class="change" *ngIf="!isEditing" name="refresh" (click)="generateProblems(clearingData.clearing)"></ion-icon>
                </ion-list-header>

                <ion-item *ngIf="!isEditing">
                  <ion-label class="ion-text-wrap">
                    <p class="fake-form-label">Problems</p>
                    <h2 class="can-be-preformatted">{{ clearingData.clearing.current.conflicts || 'no conflicts' }}</h2>
                  </ion-label>
                </ion-item>

                <ion-item *ngIf="isEditing">
                  <ion-label position="stacked">Problems</ion-label>
                  <ion-textarea [(ngModel)]="clearingCopy.current.conflicts" placeholder="Enter Clearing problems" maxlength="1000" rows="3"></ion-textarea>
                </ion-item>

                <ion-list-header>
                  Landmarks
                  <ion-icon class="change" *ngIf="!isEditing" name="refresh" (click)="generateLandmarks(clearingData.clearing)"></ion-icon>
                </ion-list-header>

                <ion-item *ngIf="!isEditing">
                  <ion-label class="ion-text-wrap">
                    <p class="fake-form-label">Landmarks</p>
                    <h2 class="can-be-preformatted">{{ clearingData.clearing.landscape.landmarks || 'no landmarks' }}</h2>
                  </ion-label>
                </ion-item>

                <ion-item *ngIf="isEditing">
                  <ion-label position="stacked">Landmarks</ion-label>
                  <ion-textarea [(ngModel)]="clearingCopy.landscape.landmarks" placeholder="Enter Clearing landmarks" maxlength="1000" rows="3"></ion-textarea>
                </ion-item>

                <ion-list-header>
                  Important Inhabitants
                  <ion-icon class="change" *ngIf="!isEditing" name="refresh" (click)="generateNPCs(campaign, clearingData.clearing)"></ion-icon>
                </ion-list-header>

                <ion-item *ngIf="clearingData.clearing.npcs.length === 0">no inhabitants</ion-item>

                <ion-item *ngFor="let npc of clearingData.clearing.npcs" class="pointer" (click)="navigateToNPCs(campaign, clearingData.index)">
                  {{ npc.name }}
                </ion-item>

                <!-- overarching issue -->
                <!--
                <ion-item *ngIf="!isEditing">
                  <ion-label class="ion-text-wrap">
                    <p class="fake-form-label">Overarching Issue</p>
                    <h2 class="can-be-preformatted">{{ clearing.current.overarchingIssue }}</h2>
                  </ion-label>
                </ion-item>

                <ion-item *ngIf="isEditing">
                  <ion-label position="stacked">Overarching Issue</ion-label>
                  <ion-textarea [(ngModel)]="clearingCopy.current.overarchingIssue" placeholder="Enter Clearing issue" maxlength="1000" rows="7"></ion-textarea>
                </ion-item>
                -->

              </ion-list>
            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-header>
              <ion-card-title>Clearing Connections</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-list>
                <ng-container *ngIf="!isEditing">
                  <ion-item *ngIf="clearingData.clearing.landscape.clearingConnections.length === 0">No connections.</ion-item>
                  <ion-item class="pointer"
                            (click)="navigateTo(campaign, clearingId)"
                            *ngFor="let clearingId of clearingData.clearing.landscape.clearingConnections">
                    {{ campaign.clearings[clearingId]?.name }}
                  </ion-item>
                </ng-container>

                <ng-container *ngIf="isEditing">
                  <ion-item *ngIf="clearingCopy.landscape.clearingConnections.length === 0">No connections.</ion-item>
                  <ion-item class="pointer"
                            *ngFor="let clearingId of clearingCopy.landscape.clearingConnections">
                    {{ campaignCopy.clearings[clearingId]?.name }}

                    <ion-button slot="end" color="danger" (click)="removeConnection(campaignCopy, clearingData.index, clearingId)" *ngIf="isEditing">
                      <ion-icon slot="icon-only" name="remove"></ion-icon>
                    </ion-button>
                  </ion-item>

                  <ion-item class="hidden">
                    <ion-label position="stacked">Choose Clearing Connection</ion-label>
                    <ion-select #otherClearings (ionChange)="addConnection($event, campaignCopy, clearingData.index)">
                      <ion-select-option *ngFor="let subClearing of campaignCopy.clearings; let i = index"
                                         [value]="i"
                                         [disabled]="subClearing.name === clearingCopy.name || clearingCopy.landscape.clearingConnections.includes(i)">
                        {{ subClearing.name }}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>

                  <ion-item color="tertiary" class="pointer" (click)="otherClearings.open()">
                    <ion-icon slot="start" name="add"></ion-icon>
                    Add Connection
                  </ion-item>
                </ng-container>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

    </ng-container>
  </ng-container>
</ion-content>
