<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'dashboard/campaigns/view/' + (data.campaign$ | async)?._id + '/clearings'"></ion-back-button>
    </ion-buttons>

    <ion-title>
      {{ (data.campaignClearing$ | async).clearing?.name }} Situation
    </ion-title>

    <ion-buttons slot="end">

      <ion-button (click)="openBackground()">
        <ion-icon slot="icon-only" name="book"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
</ion-content>
