<ion-header>
  <ion-toolbar color="navbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard/campaigns"></ion-back-button>
    </ion-buttons>

    <ion-title>
      <ng-container *ngIf="data.campaign$ | async as campaign">
        {{ campaign?.name || 'Loading...' }}
      </ng-container>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="data.campaign$ | async as campaign">
    <ng-container *ngIf="data.campaignCharacters$ | async as campaignCharacters">

      <ion-row>
        <ion-col size="12" size-lg="6">
          <ion-row>
            <ion-col>
              <ion-card>
                <ion-card-header>
                  <ion-card-title>Factions</ion-card-title>
                  <ion-icon class="change" name="list-outline" (click)="addFaction(campaign)" *ngIf="campaignCharacters.length === 0"></ion-icon>
                </ion-card-header>

                <ion-card-content>
                  <ion-list>
                    <ion-item *ngFor="let faction of campaign.factions">
                      {{ faction }}
                    </ion-item>
                  </ion-list>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <app-notes [notes]="campaign.notes" (updateNotes)="updateNotes(campaign, $event)"></app-notes>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-card>
                <ion-card-header>
                  <ion-card-title>Actions</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                  <ion-list>
                    <ion-item class="pointer" color="tertiary" (click)="renameCampaign(campaign)">
                      <ion-icon slot="start" name="pencil"></ion-icon>
                      Rename Campaign
                    </ion-item>
                    <ion-item class="pointer" color="tertiary" (click)="toggleLock(campaign)">
                      <ion-icon slot="start" [name]="campaign.locked ? 'lock-open' : 'lock-closed'"></ion-icon>
                      {{ campaign.locked ? 'Unlock campaign (players will be able to join)' : 'Lock campaign (players will NOT be able to join)' }}
                    </ion-item>
                    <ion-item class="pointer" color="tertiary" (click)="copyID(campaign)">
                      <ion-icon slot="start" name="clipboard"></ion-icon>
                      Copy Campaign ID to Clipboard
                    </ion-item>
                  </ion-list>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>

        </ion-col>

        <ion-col size="12" size-lg="6">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Current Request</ion-card-title>
              <ion-icon class="change margin-right-2" [name]="editingRequest ? 'checkmark-circle' : 'pencil'" (click)="toggleRequestEdit(campaign)"></ion-icon>
              <ion-icon class="change" name="refresh" (click)="generateRequest(campaign)"></ion-icon>
            </ion-card-header>

            <ion-card-content>
              <ng-container *ngIf="!editingRequest">
                <em *ngIf="!campaign.request?.from">You have not generated a request.</em>
                <div *ngIf="campaign.request?.from">
                  <strong>"{{ campaign.request.from }}"</strong>
                  <br>
                  In {{ campaign.request.where }}, {{ campaign.request.do }} ({{ campaign.request.target }}).
                </div>
              </ng-container>

              <ng-container *ngIf="editingRequest">
                <ion-list>
                  <ion-item>
                    <ion-label position="floating">From</ion-label>
                    <ion-input type="text" [(ngModel)]="campaign.request.from" placeholder="From who?"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Where</ion-label>
                    <ion-input type="text" [(ngModel)]="campaign.request.where" placeholder="Where should they go?"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">What</ion-label>
                    <ion-input type="text" [(ngModel)]="campaign.request.do" placeholder="Do what?"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Target</ion-label>
                    <ion-input type="text" [(ngModel)]="campaign.request.target" placeholder="Who is the target?"></ion-input>
                  </ion-item>
                </ion-list>
              </ng-container>
            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-header>
              <ion-card-title>Session Notes</ion-card-title>
              <ion-icon class="change" name="add" (click)="addNotes(campaign)"></ion-icon>
            </ion-card-header>

            <ion-card-content>
              <ion-list>
                <ion-item *ngIf="!campaign.sessionNotes || campaign.sessionNotes.length === 0">
                  <em>You have no notes entered.</em>
                </ion-item>

                <ion-item *ngFor="let notes of campaign.sessionNotes">
                  <ion-label class="ion-text-wrap">
                    <p><small><em>{{ notes.timestamp | date:'medium' }}</em></small></p>
                    <p>{{ notes.notesText }}</p>
                  </ion-label>

                  <ion-button slot="end" fill="clear" (click)="showItemEditPopover(campaign, notes, $event)">
                    <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
                  </ion-button>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

    </ng-container>
  </ng-container>
</ion-content>
