


@media screen and (min-width: 720px) {
  .container, ion-row, ion-col {
    height: 100%;
  }
}

@media screen and (max-width: 720px) {
  .action-row ion-col {
    text-align: center !important;

    ion-button {
      width: 100%;
    }
  }
}

.step-watcher {
  position: fixed;
}

.container {
  form {
    min-width: 30%;
    min-height: 30%;

    @media screen and (min-width: 720px) {
      margin-left: 20%;
      margin-right: 20%;
    }
  }

  .character-container {
    padding-top: 20%;
    height: 100%;
  }

  ion-spinner {
    margin-right: 10px;
    height: 18px;
    width: 18px;
  }

}

.action-row {
  margin-top: 20px;
}

.sub-desc {
  font-style: italic;
  font-size: 0.75em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.stat-name {
  margin-right: 5px;
}

.edit-section {
  position: absolute;
  top: 5px;
  right: 10px;

  max-width: 30px;
  max-height: 30px;

  --padding-start: 0 !important;
  --padding-end: 0 !important;
}

.space-between + .space-between {
  margin-top: 1rem;
}
