<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard/characters"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Create Character
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard/characters"></ion-back-button>
    </ion-buttons>

    <ion-toolbar>
      <ion-title size="large">Create Character</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-row>
    <ion-col>
      <div class="character-container">
        <ng-container [ngSwitch]="currentStep">
          <ng-container [ngTemplateOutlet]="campaigncode" *ngSwitchCase="Step.CampaignOrNo"></ng-container>
          <ng-container [ngTemplateOutlet]="archetype" *ngSwitchCase="Step.Archetype"></ng-container>
          <ng-container [ngTemplateOutlet]="namespecies" *ngSwitchCase="Step.NameSpecies"></ng-container>
          <ng-container [ngTemplateOutlet]="bonusstats" *ngSwitchCase="Step.BonusStats"></ng-container>
          <ng-container [ngTemplateOutlet]="background" *ngSwitchCase="Step.Background"></ng-container>
          <ng-container [ngTemplateOutlet]="natures" *ngSwitchCase="Step.Natures"></ng-container>
          <ng-container [ngTemplateOutlet]="drives" *ngSwitchCase="Step.Drives"></ng-container>
          <ng-container [ngTemplateOutlet]="moves" *ngSwitchCase="Step.Moves"></ng-container>
          <ng-container [ngTemplateOutlet]="feats" *ngSwitchCase="Step.Feats"></ng-container>
          <ng-container [ngTemplateOutlet]="skills" *ngSwitchCase="Step.Skills"></ng-container>
          <ng-container [ngTemplateOutlet]="items" *ngSwitchCase="Step.Items"></ng-container>
          <ng-container [ngTemplateOutlet]="connections" *ngSwitchCase="Step.Connections"></ng-container>
          <ng-container [ngTemplateOutlet]="finalize" *ngSwitchCase="Step.Finalize"></ng-container>
        </ng-container>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
    
<ng-template #campaigncode>
  <form [formGroup]="campaignForm">
    <ion-card>

      <ion-card-header>
        <ion-card-title>
          Join Campaign?
        </ion-card-title>

        <ion-card-subtitle>
          Is this character part of a campaign? If so, enter the campaign ID below. If not, you can skip to the Archetype selection.
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>

        <ion-list>
          <ion-item>
            <ion-label position="stacked">Campaign ID</ion-label>
            <ion-input type="text" formControlName="campaignId" placeholder="Enter Campaign ID"></ion-input>
          </ion-item>

          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.campaignId">
              <div class="error-message" *ngIf="campaignForm.get('campaignId').hasError(validation.type) && (campaignForm.get('campaignId').dirty || campaignForm.get('campaignId').touched)">
                <ion-icon name="warning-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>

          <ion-item lines="none">
            <ion-row class="action-row">
              <ion-col>
              </ion-col>

              <ion-col size="12" size-sm="6" class="ion-text-right">
                <ion-button color="primary" [disabled]="campaignForm.invalid || validatingCampaignId" (click)="next()">
                  <ion-icon slot="end" name="caret-forward"></ion-icon>
                  Archetype
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
        
      </ion-card-content>

    </ion-card>
  </form>
</ng-template>

<ng-template #archetype>
  <form [formGroup]="archetypeForm">
    <ion-card>

      <ion-card-header>
        <ion-card-title>
          Choose Archetype
        </ion-card-title>

        <ion-card-subtitle>
          Choose the archetype that represents your character.
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>

        <ion-list>
          <ion-item>
            <ion-label position="stacked">Archetype</ion-label>
            <ion-select placeholder="Select Archetype" formControlName="archetype">
              <ion-select-option *ngFor="let type of allContent.vagabonds | keyvalue"
                                 [value]="type.key">
                {{ type.key }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="archetypeForm.get('archetype').value">
            <ion-label class="ion-text-wrap">
              <p>{{ chosenVagabond.description }}</p>
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-row class="action-row">
              <ion-col size="12" size-sm="6">
                <ion-button color="secondary" (click)="prev()">
                  <ion-icon slot="start" name="caret-back"></ion-icon>
                  Join Campaign
                </ion-button>
              </ion-col>

              <ion-col size="12" size-sm="6" class="ion-text-right">
                <ion-button color="primary" [disabled]="archetypeForm.invalid" (click)="next()">
                  <ion-icon slot="end" name="caret-forward"></ion-icon>
                  Character Details
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
        
      </ion-card-content>

    </ion-card>
  </form>
</ng-template>

<ng-template #namespecies>
  <form [formGroup]="characterForm">
    <ion-card>

      <ion-card-header>
        <ion-card-title>
          Character Appearance
        </ion-card-title>

        <ion-card-subtitle>
          Choose your name, species, and other defining characteristics.
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>

        <ion-list>
          <ion-item>
            <ion-label position="stacked">Name</ion-label>
            <ion-input type="text" formControlName="name" placeholder="Enter Name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Species</ion-label>
            <ion-select placeholder="Select Species" formControlName="species">
              <ion-select-option *ngFor="let species of validSpecies"
                                 [value]="species">
                {{ species }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Pronouns</ion-label>
            <ion-select placeholder="Select Pronouns" formControlName="pronouns">
              <ion-select-option *ngFor="let pronouns of allContent.core.pronouns"
                                 [value]="pronouns">
                {{ pronouns }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Adjectives</ion-label>
            <ion-select placeholder="Select Adjectives" multiple="true" formControlName="adjectives">
              <ion-select-option *ngFor="let adjective of chosenVagabond.adjectives"
                                 [value]="adjective">
                {{ adjective }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Demeanor</ion-label>
            <ion-select placeholder="Select Demeanor" multiple="true" formControlName="demeanor">
              <ion-select-option *ngFor="let demeanor of chosenVagabond.demeanor"
                                 [value]="demeanor">
                {{ demeanor }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item lines="none">
            <ion-row class="action-row">
              <ion-col size="12" size-sm="6">
                <ion-button color="secondary" (click)="prev()">
                  <ion-icon slot="start" name="caret-back"></ion-icon>
                  Archetype
                </ion-button>
              </ion-col>

              <ion-col size="12" size-sm="6" class="ion-text-right">
                <ion-button color="primary" [disabled]="characterForm.invalid" (click)="next()">
                  <ion-icon slot="end" name="caret-forward"></ion-icon>
                  Bonus Stats
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
        
      </ion-card-content>

    </ion-card>
  </form>
</ng-template>

<!-- TODO: screen: "choose bonus stats" -->
<ng-template #bonusstats>
  <form [formGroup]="bonusForm">
    <ion-card>

      <ion-card-header>
        <ion-card-title>
          Bonus Stat
        </ion-card-title>

        <ion-card-subtitle>
          Choose the stat you want to apply a +1 bonus to, to a maximum of +2.
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>

        <ion-list>
          <ion-radio-group formControlName="stat">
            <ion-item *ngFor="let stat of stats" [disabled]="chosenVagabond.stats[stat.key] >= 2">
              <ion-label class="ion-text-wrap">
                <h2>{{ stat.name }} ({{ chosenVagabond.stats[stat.key] < 0 ? '' : '+' }}{{ chosenVagabond.stats[stat.key] }})</h2>
                <p>{{ stat.desc }}</p>
              </ion-label>
              <ion-radio [value]="stat.key"></ion-radio>
            </ion-item>
          </ion-radio-group>

          <ion-item lines="none">
            <ion-row class="action-row">
              <ion-col size="12" size-sm="6">
                <ion-button color="secondary" (click)="prev()">
                  <ion-icon slot="start" name="caret-back"></ion-icon>
                  Character Details
                </ion-button>
              </ion-col>

              <ion-col size="12" size-sm="6" class="ion-text-right">
                <ion-button color="primary" [disabled]="bonusForm.invalid" (click)="next()">
                  <ion-icon slot="end" name="caret-forward"></ion-icon>
                  Background
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
        
      </ion-card-content>

    </ion-card>
  </form>
</ng-template>

<!-- TODO: screen: "background questions" -->
<ng-template #background>
  
</ng-template>

<!-- TODO: screen: "choose natures" -->
<ng-template #natures>
  
</ng-template>

<!-- TODO: screen: "choose drives" -->
<ng-template #drives>
  
</ng-template>

<!-- TODO: screen: "choose moves" -->
<ng-template #moves>
  
</ng-template>

<!-- TODO: screen: "feats" (only if archetype has none selected) -->
<ng-template #feats>
  
</ng-template>

<!-- TODO: screen: "skills" (only if archetype has none selected) -->
<ng-template #skills>
  
</ng-template>

<!-- TODO: screen: "buy items" -->
<ng-template #items>
  
</ng-template>

<!-- TODO: screen: "describe connections" -->
<ng-template #connections>
  
</ng-template>

<!-- TODO: screen: "finalize" -->
<ng-template #finalize>
  
</ng-template>