<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard/characters"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Create Character
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard/characters"></ion-back-button>
    </ion-buttons>

    <ion-toolbar>
      <ion-title size="large">Create Character</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-row>
    <ion-col size="12" size-lg="8" offset-lg="2" size-xl="6" offset-xl="3">
      <div class="character-container">
        <ng-container [ngSwitch]="currentStep">
          <ng-container [ngTemplateOutlet]="campaigncode" *ngSwitchCase="Step.CampaignOrNo"></ng-container>
          <ng-container [ngTemplateOutlet]="archetype" *ngSwitchCase="Step.Archetype"></ng-container>
          <ng-container [ngTemplateOutlet]="namespecies" *ngSwitchCase="Step.NameSpecies"></ng-container>
          <ng-container [ngTemplateOutlet]="bonusstats" *ngSwitchCase="Step.BonusStats"></ng-container>
          <ng-container [ngTemplateOutlet]="background" *ngSwitchCase="Step.Background"></ng-container>
          <ng-container [ngTemplateOutlet]="natures" *ngSwitchCase="Step.Natures"></ng-container>
          <ng-container [ngTemplateOutlet]="drives" *ngSwitchCase="Step.Drives"></ng-container>
          <ng-container [ngTemplateOutlet]="moves" *ngSwitchCase="Step.Moves"></ng-container>
          <ng-container [ngTemplateOutlet]="feats" *ngSwitchCase="Step.Feats"></ng-container>
          <ng-container [ngTemplateOutlet]="skills" *ngSwitchCase="Step.Skills"></ng-container>
          <ng-container [ngTemplateOutlet]="items" *ngSwitchCase="Step.Items"></ng-container>
          <ng-container [ngTemplateOutlet]="connections" *ngSwitchCase="Step.Connections"></ng-container>
          <ng-container [ngTemplateOutlet]="finalize" *ngSwitchCase="Step.Finalize"></ng-container>
        </ng-container>
      </div>
    </ion-col>
  </ion-row>
</ion-content>

<ng-template #campaigncode>
  <form [formGroup]="campaignForm">
    <ion-card>

      <ion-card-header>
        <ion-card-title>
          Join Campaign?
        </ion-card-title>

        <ion-card-subtitle>
          Is this character part of a campaign? If so, enter the campaign ID below. If not, you can skip to the Archetype selection.
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>

        <ion-list>
          <ion-item>
            <ion-label position="stacked">Campaign ID</ion-label>
            <ion-input type="text" formControlName="campaignId" placeholder="Enter Campaign ID" maxlength="24"></ion-input>
          </ion-item>

          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.campaignId">
              <div class="error-message" *ngIf="campaignForm.get('campaignId').hasError(validation.type) && (campaignForm.get('campaignId').dirty || campaignForm.get('campaignId').touched)">
                <ion-icon name="warning-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>

          <ion-item lines="none">
            <ion-row class="action-row">
              <ion-col>
              </ion-col>

              <ion-col size="12" size-sm="6" class="ion-text-right">
                <ion-button color="primary" [disabled]="campaignForm.invalid || validatingCampaignId" (click)="next()">
                  <ion-icon slot="end" name="caret-forward"></ion-icon>
                  Archetype
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>

      </ion-card-content>

    </ion-card>
  </form>
</ng-template>

<ng-template #archetype>
  <form [formGroup]="archetypeForm">
    <ion-card>

      <ion-card-header>
        <ion-card-title>
          Choose Archetype
        </ion-card-title>

        <ion-card-subtitle>
          Choose the archetype that represents your character.
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>

        <ion-list>
          <ion-item>
            <ion-label position="stacked">Archetype</ion-label>
            <ion-select placeholder="Select Archetype" formControlName="archetype" (ionChange)="resetVagabond()">
              <ion-select-option *ngFor="let type of contentService.getVagabonds()"
                                 [value]="type">
                {{ type }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="archetypeForm.get('archetype').value">
            <ion-label class="ion-text-wrap">
              <p>{{ chosenVagabond?.description }}</p>
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-row class="action-row">
              <ion-col size="12" size-sm="6">
                <ion-button color="secondary" (click)="prev()">
                  <ion-icon slot="start" name="caret-back"></ion-icon>
                  Join Campaign
                </ion-button>
              </ion-col>

              <ion-col size="12" size-sm="6" class="ion-text-right">
                <ion-button color="primary" [disabled]="archetypeForm.invalid" (click)="next()">
                  <ion-icon slot="end" name="caret-forward"></ion-icon>
                  Character Details
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>

      </ion-card-content>

    </ion-card>
  </form>
</ng-template>

<ng-template #namespecies>
  <form [formGroup]="characterForm">
    <ion-card>

      <ion-card-header>
        <ion-card-title>
          Character Appearance
        </ion-card-title>

        <ion-card-subtitle>
          Choose your name, species, and other defining characteristics.
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>

        <ion-list *ngIf="chosenVagabond">
          <ion-item class="has-suffix">
            <ion-label position="stacked">Name</ion-label>
            <ion-input type="text" formControlName="name" placeholder="Enter Name" maxlength="25"></ion-input>
            <ion-button slot="end" (click)="pickRandomName()">
              <ion-icon slot="icon-only" name="sync"></ion-icon>
            </ion-button>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Species</ion-label>
            <ion-select placeholder="Select Species" formControlName="species" (ionChange)="changeSpecies($event)">
              <ion-select-option *ngFor="let species of validSpecies"
                                 [value]="species">
                {{ species }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="characterForm.get('species').value === 'custom'">
            <ion-label position="stacked">Custom Species</ion-label>
            <ion-input type="text" formControlName="customspecies" placeholder="Enter Custom Species" maxlength="25"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Pronouns</ion-label>
            <ion-select placeholder="Select Pronouns" formControlName="pronouns">
              <ion-select-option *ngFor="let pronouns of contentService.getPronouns()"
                                 [value]="pronouns">
                {{ pronouns }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Adjectives</ion-label>
            <ion-select placeholder="Select Adjectives" multiple="true" formControlName="adjectives">
              <ion-select-option *ngFor="let adjective of chosenVagabond.adjectives"
                                 [value]="adjective">
                {{ adjective }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Demeanor</ion-label>
            <ion-select placeholder="Select Demeanor" multiple="true" formControlName="demeanor">
              <ion-select-option *ngFor="let demeanor of chosenVagabond.demeanor"
                                 [value]="demeanor">
                {{ demeanor }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item lines="none">
            <ion-row class="action-row">
              <ion-col size="12" size-sm="6">
                <ion-button color="secondary" (click)="prev()">
                  <ion-icon slot="start" name="caret-back"></ion-icon>
                  Archetype
                </ion-button>
              </ion-col>

              <ion-col size="12" size-sm="6" class="ion-text-right">
                <ion-button color="primary" [disabled]="characterForm.invalid" (click)="next()">
                  <ion-icon slot="end" name="caret-forward"></ion-icon>
                  Bonus Stat
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>

      </ion-card-content>

    </ion-card>
  </form>
</ng-template>

<ng-template #bonusstats>
  <form [formGroup]="bonusForm">
    <ion-card>

      <ion-card-header>
        <ion-card-title>
          Bonus Stat
        </ion-card-title>

        <ion-card-subtitle>
          Choose the stat you want to apply a +1 bonus to, to a maximum of +2.
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>

        <ion-list *ngIf="chosenVagabond">
          <ion-radio-group formControlName="stat">
            <ion-item *ngFor="let stat of contentService.getStats()" [disabled]="chosenVagabond.stats[stat.toLowerCase()] >= 2">
              <ion-label class="ion-text-wrap">
                <h2>{{ stat }} ({{ chosenVagabond.stats[stat.toLowerCase()] | withPlus }})</h2>
                <p>{{ getStatDesc(stat) }}</p>
              </ion-label>
              <ion-radio [value]="stat.toLowerCase()"></ion-radio>
            </ion-item>
          </ion-radio-group>

          <ion-item lines="none">
            <ion-row class="action-row">
              <ion-col size="12" size-sm="6">
                <ion-button color="secondary" (click)="prev()">
                  <ion-icon slot="start" name="caret-back"></ion-icon>
                  Character Details
                </ion-button>
              </ion-col>

              <ion-col size="12" size-sm="6" class="ion-text-right">
                <ion-button color="primary" [disabled]="bonusForm.invalid" (click)="next()">
                  <ion-icon slot="end" name="caret-forward"></ion-icon>
                  Background
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>

      </ion-card-content>

    </ion-card>
  </form>
</ng-template>

<ng-template #background>
  <form [formGroup]="backgroundForm">
    <ion-card>

      <ion-card-header>
        <ion-card-title>
          Background
        </ion-card-title>

        <ion-card-subtitle>
          Describe your characters background.
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>

        <ion-list formArrayName="backgrounds" *ngIf="chosenVagabond">
          <ng-container *ngFor="let qa of chosenVagabond.background; let i = index">
            <ion-item>
              <ion-label position="stacked" class="ion-text-wrap spaced-label">{{ qa.question }}</ion-label>

              <ion-select placeholder="Select Answer"
                          [formControlName]="i"
                          [compareWith]="compareAnswer"
                          (ionChange)="changeAnswer($event, qa, i)"
                          *ngIf="qa.type === 'answers'">
                <ion-select-option *ngFor="let answer of qa.answers"
                                   [value]="answer">
                  {{ answer.text }}
                </ion-select-option>
              </ion-select>

              <!-- faction selector, no campaign -->
              <ion-select placeholder="Select Faction" [formControlName]="i" *ngIf="qa.type === 'faction' && !campaign">
                <ion-select-option *ngFor="let faction of validFactions"
                                   [value]="faction.name">
                  {{ faction.name }}
                </ion-select-option>
              </ion-select>

              <!-- faction selector, with campaign -->
              <ion-select placeholder="Select Faction" [formControlName]="i" *ngIf="qa.type === 'faction' && campaign">
                <ion-select-option *ngFor="let faction of campaign.factions"
                                   [value]="faction">
                  {{ faction }}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <!-- clearing selector, we have a campaign -->
            <ion-item *ngIf="backgroundForm.get('backgrounds').value && backgroundForm.get('backgrounds').value[i]?.type === 'clearing' && campaign">
              <ion-label position="stacked" class="ion-text-wrap spaced-label">Choose Clearing</ion-label>

              <ion-select placeholder="Select Clearing" [(ngModel)]="backgroundForm.get('backgrounds').value[i].realText" [ngModelOptions]="{ standalone: true }">
                <ion-select-option *ngFor="let clearing of campaign.clearings | keyvalue"
                                   [value]="clearing.key">
                  {{ clearing.key }}
                </ion-select-option>
              </ion-select>

            </ion-item>

            <!-- clearing selector, we do not have a campaign -->
            <ion-item *ngIf="backgroundForm.get('backgrounds').value && backgroundForm.get('backgrounds').value[i]?.type === 'clearing' && !campaign">

              <ion-input type="text"
                         maxlength="25"
                         [(ngModel)]="backgroundForm.get('backgrounds').value[i].realText"
                         [ngModelOptions]="{ standalone: true }"
                         [placeholder]="backgroundForm.get('backgrounds').value[i]?.text"></ion-input>

            </ion-item>
          </ng-container>

          <ion-item lines="none">
            <ion-row class="action-row">
              <ion-col size="12" size-sm="6">
                <ion-button color="secondary" (click)="prev()">
                  <ion-icon slot="start" name="caret-back"></ion-icon>
                  Bonus Stat
                </ion-button>
              </ion-col>

              <ion-col size="12" size-sm="6" class="ion-text-right">
                <ion-button color="primary" [disabled]="backgroundForm.invalid" (click)="next()">
                  <ion-icon slot="end" name="caret-forward"></ion-icon>
                  Nature
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>

      </ion-card-content>

    </ion-card>
  </form>
</ng-template>

<ng-template #natures>
  <form [formGroup]="naturesForm">
    <ion-card>

      <ion-card-header>
        <ion-card-title>
          Nature
        </ion-card-title>

        <ion-card-subtitle>
          Choose your character's starting nature.
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>

        <ion-list *ngIf="chosenVagabond">
          <ion-radio-group formControlName="nature">
            <ion-item *ngFor="let nature of chosenVagabond.natures">
              <ion-label class="ion-text-wrap">
                <h2>{{ nature.name }}</h2>
                <p>{{ getNatureDesc(nature.name) }}</p>
              </ion-label>
              <ion-radio [value]="nature.name"></ion-radio>
            </ion-item>
          </ion-radio-group>

          <ion-item lines="none">
            <ion-row class="action-row">
              <ion-col size="12" size-sm="6">
                <ion-button color="secondary" (click)="prev()">
                  <ion-icon slot="start" name="caret-back"></ion-icon>
                  Background
                </ion-button>
              </ion-col>

              <ion-col size="12" size-sm="6" class="ion-text-right">
                <ion-button color="primary" [disabled]="naturesForm.invalid" (click)="next()">
                  <ion-icon slot="end" name="caret-forward"></ion-icon>
                  Drives
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>

      </ion-card-content>

    </ion-card>
  </form>
</ng-template>

<ng-template #drives>
  <form [formGroup]="drivesForm">
    <ion-card>

      <ion-card-header>
        <ion-card-title>
          Drives
        </ion-card-title>

        <ion-card-subtitle>
          Choose your character's starting two drives.
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>

        <ion-list *ngIf="chosenVagabond">
          <ng-container *ngFor="let drive of chosenVagabond.drives">
            <ion-item [disabled]="drivesForm.get('drives').value.length >= 2 && !drivesForm.get('drives').value.includes(drive.name)">
              <ion-label class="ion-text-wrap">
                <h2>{{ drive.name }}</h2>
                <p>{{ getDriveDesc(drive.name) }}</p>
              </ion-label>
              <ion-checkbox slot="end"
                            (ionChange)="selectDrive(drive.name)"
                            [checked]="drivesForm.get('drives').value.includes(drive.name)"></ion-checkbox>
            </ion-item>

            <ion-item *ngIf="doesDriveName(drive.name) && drivesForm.get('drives').value.includes(drive.name)">
              <ion-label position="stacked">Named Individual ({{ drive.name }})</ion-label>
              <ion-input type="text"
                         maxlength="25"
                         placeholder="Enter Name"
                         [value]="drivesForm.get('driveTargets').value[drive.name]"
                         (ionChange)="updateDriveTarget($event, drive.name)"></ion-input>
            </ion-item>
          </ng-container>

          <ion-item lines="none">
            <ion-row class="action-row">
              <ion-col size="12" size-sm="6">
                <ion-button color="secondary" (click)="prev()">
                  <ion-icon slot="start" name="caret-back"></ion-icon>
                  Nature
                </ion-button>
              </ion-col>

              <ion-col size="12" size-sm="6" class="ion-text-right">
                <ion-button color="primary" [disabled]="drivesForm.invalid || drivesForm.get('drives').value.length < 2" (click)="next()">
                  <ion-icon slot="end" name="caret-forward"></ion-icon>
                  Moves
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>

      </ion-card-content>

    </ion-card>
  </form>
</ng-template>

<ng-template #moves>
  <form [formGroup]="movesForm">
    <ion-card>

      <ion-card-header>
        <ion-card-title>
          Moves
        </ion-card-title>

        <ion-card-subtitle>
          Choose your character's starting moves.
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>

        <ion-list *ngIf="chosenVagabond">
          <ng-container *ngFor="let move of chosenVagabond.moves">
            <ion-item [disabled]="chosenVagabond.defaultMoves.includes(move.name) || (movesForm.get('moves').value.length >= 3 && !movesForm.get('moves').value.includes(move.name))">
              <ion-label class="ion-text-wrap">
                <h2>{{ move.name }}</h2>
                <p [innerHTML]="getMoveDesc(move.name) | markdown"></p>
              </ion-label>
              <ion-checkbox slot="end"
                            #checkbox
                            (ionChange)="selectMove(move.name, checkbox)"
                            [checked]="movesForm.get('moves').value.includes(move.name)"></ion-checkbox>
            </ion-item>
          </ng-container>

          <ion-item lines="none">
            <ion-row class="action-row">
              <ion-col size="12" size-sm="6">
                <ion-button color="secondary" (click)="prev()">
                  <ion-icon slot="start" name="caret-back"></ion-icon>
                  Drives
                </ion-button>
              </ion-col>

              <ion-col size="12" size-sm="6" class="ion-text-right">
                <ion-button color="primary" [disabled]="movesForm.invalid || movesForm.get('moves').value.length < 3" (click)="next()">
                  <ion-icon slot="end" name="caret-forward"></ion-icon>
                  Roguish Feats
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>

      </ion-card-content>

    </ion-card>
  </form>
</ng-template>

<ng-template #feats>
  <form [formGroup]="featsForm">
    <ion-card>

      <ion-card-header>
        <ion-card-title>
          Roguish Feats
        </ion-card-title>

        <ion-card-subtitle *ngIf="chosenVagabond">
          <ng-container *ngIf="chosenVagabond.chooseFeats > 0">
            Choose your character's starting roguish feats.
          </ng-container>
          <ng-container *ngIf="!chosenVagabond.chooseFeats">
            Your character starts with the following feats.
          </ng-container>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>

        <ion-list *ngIf="chosenVagabond">
          <ng-container *ngIf="chosenVagabond.chooseFeats > 0">
            <ion-item *ngFor="let feat of contentService.getFeats()"
                      [disabled]="(featsForm.get('feats').value.length >= chosenVagabond.chooseFeats && !featsForm.get('feats').value.includes(feat)) || getBonusFeats().includes(feat)">
              <ion-label class="ion-text-wrap">
                <h2>{{ feat }}</h2>
                <p>{{ getFeatDesc(feat) }}</p>
              </ion-label>
              <ion-checkbox slot="end"
                            (ionChange)="selectFeat(feat)"
                            [checked]="featsForm.get('feats').value.includes(feat)"></ion-checkbox>
            </ion-item>
          </ng-container>

          <ng-container *ngIf="!chosenVagabond.chooseFeats">
            <ion-item *ngFor="let feat of getAllFeats()">
              <ion-label class="ion-text-wrap">
                <h2>{{ feat }}</h2>
                <p>{{ getFeatDesc(feat) }}</p>
              </ion-label>
              <ion-checkbox slot="end"
                            [disabled]="true"
                            [checked]="true"></ion-checkbox>
            </ion-item>
          </ng-container>

          <ion-item lines="none">
            <ion-row class="action-row">
              <ion-col size="12" size-sm="6">
                <ion-button color="secondary" (click)="prev()">
                  <ion-icon slot="start" name="caret-back"></ion-icon>
                  Moves
                </ion-button>
              </ion-col>

              <ion-col size="12" size-sm="6" class="ion-text-right">
                <ion-button color="primary" [disabled]="chosenVagabond.chooseFeats > 0 && (featsForm.invalid || featsForm.get('feats').value.length < chosenVagabond.chooseFeats)" (click)="next()">
                  <ion-icon slot="end" name="caret-forward"></ion-icon>
                  Weapon Skills
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>

      </ion-card-content>

    </ion-card>
  </form>
</ng-template>

<ng-template #skills>
  <form [formGroup]="skillsForm">
    <ion-card>

      <ion-card-header>
        <ion-card-title>
          Weapon Skills
        </ion-card-title>

        <ion-card-subtitle *ngIf="chosenVagabond">
          Choose your character's starting {{ chosenVagabond.numSkills }} weapon skill(s).
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>

        <ion-list *ngIf="chosenVagabond">
          <ion-item *ngFor="let skill of chosenVagabond.skills"
                    [disabled]="(skillsForm.get('skills').value.length >= chosenVagabond.numSkills && !skillsForm.get('skills').value.includes(skill.name)) || getBonusSkills().includes(skill.name) || skillsForm.get('bonusSkills').value.includes(skill.name)">
            <ion-label class="ion-text-wrap">
              <h2>{{ skill.name }}</h2>
              <p [innerHTML]="getSkillDesc(skill.name) | markdown"></p>
            </ion-label>
            <ion-checkbox slot="end"
                          (ionChange)="selectSkill(skill.name)"
                          [checked]="skillsForm.get('skills').value.includes(skill.name) || getBonusSkills().includes(skill.name)"></ion-checkbox>
          </ion-item>

          <ion-item lines="none">
            <ion-row class="action-row">
              <ion-col size="12" size-sm="6">
                <ion-button color="secondary" (click)="prev()">
                  <ion-icon slot="start" name="caret-back"></ion-icon>
                  Roguish Feats
                </ion-button>
              </ion-col>

              <ion-col size="12" size-sm="6" class="ion-text-right">
                <ion-button color="primary" [disabled]="skillsForm.invalid || skillsForm.get('skills').value.length < chosenVagabond.numSkills" (click)="next()">
                  <ion-icon slot="end" name="caret-forward"></ion-icon>
                  Items
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>

      </ion-card-content>

    </ion-card>
  </form>
</ng-template>

<ng-template #items>
  <form [formGroup]="itemsForm">
    <ion-card>

      <ion-card-header>
        <ion-card-title>
          Items
        </ion-card-title>

        <ion-card-subtitle>
          Choose your character's starting items. You have {{ chosenVagabond.startingValue - totalValueSpent }}/{{ chosenVagabond.startingValue }} value to spend.
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>

        <ion-list>
          <ion-item *ngIf="itemsForm.get('items').value.length === 0">
            You don't have any items.
          </ion-item>

          <ion-item *ngFor="let item of itemsForm.get('items').value" class="ion-hide-md-up">
            <app-item [item]="item" appLongPress="500" (release)="showItemEditActionSheet(item)"></app-item>
          </ion-item>

          <ion-item *ngFor="let item of itemsForm.get('items').value" class="ion-hide-md-down">
            <app-item [item]="item"></app-item>
            <ion-button slot="end" fill="clear" (click)="showItemEditPopover(item, $event)">
              <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
            </ion-button>
          </ion-item>

          <ion-item (click)="createItem()" class="pointer" color="tertiary">
            <ion-icon slot="start" name="add"></ion-icon>
            Create New Item
          </ion-item>

          <ion-item lines="none">
            <ion-row class="action-row">
              <ion-col size="12" size-sm="6">
                <ion-button color="secondary" (click)="prev()">
                  <ion-icon slot="start" name="caret-back"></ion-icon>
                  Weapon Skills
                </ion-button>
              </ion-col>

              <ion-col size="12" size-sm="6" class="ion-text-right">
                <ion-button color="primary" [disabled]="totalValueSpent > chosenVagabond.startingValue" (click)="next()">
                  <ion-icon slot="end" name="caret-forward"></ion-icon>
                  Connections
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>

      </ion-card-content>

    </ion-card>
  </form>
</ng-template>

<ng-template #connections>
  <form [formGroup]="connectionsForm">
    <ion-card>

      <ion-card-header>
        <ion-card-title>
          Connections
        </ion-card-title>

        <ion-card-subtitle>
          Choose your character's starting connections.
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>

        <ion-list formArrayName="connections" *ngIf="chosenVagabond">
          <ng-container *ngFor="let conn of chosenVagabond.connections; let i = index">
            <ion-item>
              <ion-label class="ion-text-wrap">
                <h2>{{ conn.name }}</h2>
                <p>{{ conn.text }}</p>
                <p class="sub-desc" [innerHTML]="getConnectionDesc(conn.name) | markdown"></p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-input type="text" [formControlName]="i" placeholder="Enter Player Name" maxlength="25"></ion-input>
            </ion-item>
          </ng-container>

          <ion-item lines="none">
            <ion-row class="action-row">
              <ion-col size="12" size-sm="6">
                <ion-button color="secondary" (click)="prev()">
                  <ion-icon slot="start" name="caret-back"></ion-icon>
                  Items
                </ion-button>
              </ion-col>

              <ion-col size="12" size-sm="6" class="ion-text-right">
                <ion-button color="primary" [disabled]="connectionsForm.invalid" (click)="next()">
                  <ion-icon slot="end" name="caret-forward"></ion-icon>
                  Finalize
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>

      </ion-card-content>

    </ion-card>
  </form>
</ng-template>

<ng-template #finalize>
  <ion-card #finalizeCard>

    <ion-card-header>
      <ion-card-title>
        Finalize
      </ion-card-title>

      <ion-card-subtitle>
        Make sure your character looks right. Don't forget to introduce yourself!
      </ion-card-subtitle>
    </ion-card-header>

  </ion-card>

  <ion-card #characterCard>
    <ion-card-header>
      <ion-card-title>{{ characterForm.get('name').value }}</ion-card-title>
      <ion-card-subtitle>{{ archetypeForm.get('archetype').value }}</ion-card-subtitle>
      <ion-button class="edit-section" fill="clear" (click)="setStep(Step.NameSpecies)">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-card-header>

    <ion-card-content>
      <p *ngIf="campaignForm.get('campaignId').value">You will be joining a campaign.</p>
      <p>You are a(n) <strong>{{ characterForm.get('species').value }}</strong>, whose pronouns are <strong>{{ characterForm.get('pronouns').value }}</strong>.</p>
      <p>You are described by others as: <strong>{{ characterForm.get('adjectives').value.join(', ') }}</strong></p>
      <p>Your demeanor is: <strong>{{ characterForm.get('demeanor').value.join(', ') }}</strong></p>
    </ion-card-content>
  </ion-card>

  <ion-card #statsCard>
    <ion-card-header>
      <ion-card-title>Stats</ion-card-title>
      <ion-button class="edit-section" fill="clear" (click)="setStep(Step.BonusStats)">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-card-header>

    <ion-card-content>
      <ion-row *ngIf="chosenVagabond">
        <ion-col *ngFor="let stat of chosenVagabond.stats | keyvalue" size="3" size-xs="6">
          <span class="stat-name"><strong>{{ getStatName(stat.key) }}</strong>:</span>
          <span>{{ getTotalStat(stat.key) | withPlus }}</span>
          <span *ngIf="stat.key === bonusForm.get('stat').value"> (Bonus)</span>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card #backgroundCard>
    <ion-card-header>
      <ion-card-title>Background</ion-card-title>
      <ion-button class="edit-section" fill="clear" (click)="setStep(Step.Background)">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-card-header>

    <ion-card-content>
      <ng-container *ngIf="chosenVagabond">
        <ion-row *ngFor="let bg of chosenVagabond.background; let i = index">
          <ion-col>
            <strong>{{ bg.question }}</strong>
            <br>
            <span *ngIf="backgroundForm.get('backgrounds').value[i] as answer">
              {{ answer.realText || answer.text || answer }}
            </span>
          </ion-col>
        </ion-row>
      </ng-container>
    </ion-card-content>
  </ion-card>

  <ion-card #natureCard>
    <ion-card-header>
      <ion-card-title>Nature</ion-card-title>
      <ion-button class="edit-section" fill="clear" (click)="setStep(Step.Natures)">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-card-header>

    <ion-card-content>
      <div>
        <span><strong>{{ naturesForm.get('nature').value }}</strong>: </span>
        <span [innerHTML]="getNatureDesc(naturesForm.get('nature').value) | markdown"></span>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card #drivesCard>
    <ion-card-header>
      <ion-card-title>Drives</ion-card-title>
      <ion-button class="edit-section" fill="clear" (click)="setStep(Step.Drives)">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-card-header>

    <ion-card-content>
      <ion-row *ngFor="let drive of drivesForm.get('drives').value">
        <ion-col>
          <strong>{{ drive }}<span *ngIf="drivesForm.get('driveTargets').value[drive] as target"> ({{ target }})</span></strong>:
          <span [innerHTML]="getDriveDesc(drive) | markdown"></span>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card #movesCard>
    <ion-card-header>
      <ion-card-title>Moves</ion-card-title>
      <ion-button class="edit-section" fill="clear" (click)="setStep(Step.Moves)">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-card-header>

    <ion-card-content>
      <ion-row *ngFor="let move of movesForm.get('moves').value">
        <ion-col>
          <strong>{{ move }}</strong>:
          <span [innerHTML]="getMoveDesc(move) | markdown"></span>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card #featsCard>
    <ion-card-header>
      <ion-card-title>Roguish Feats</ion-card-title>
      <ion-button class="edit-section" fill="clear" (click)="setStep(Step.Feats)">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-card-header>

    <ion-card-content>
      <ng-container *ngIf="chosenVagabond">
        <ng-container *ngIf="chosenVagabond.chooseFeats > 0">
          <ion-row *ngFor="let feat of getBonusFeatsAndFormData()">
            <ion-col>
              <strong>{{ feat }}</strong>:
              <span [innerHTML]="getFeatDesc(feat) | markdown"></span>
            </ion-col>
          </ion-row>
        </ng-container>

        <ng-container *ngIf="!chosenVagabond.chooseFeats">
          <ion-row *ngFor="let feat of getAllFeats()">
            <ion-col>
              <strong>{{ feat }}</strong>:
              <span [innerHTML]="getFeatDesc(feat) | markdown"></span>
            </ion-col>
          </ion-row>
        </ng-container>
      </ng-container>
    </ion-card-content>
  </ion-card>

  <ion-card #skillsCard>
    <ion-card-header>
      <ion-card-title>Weapon Skills</ion-card-title>
      <ion-button class="edit-section" fill="clear" (click)="setStep(Step.Skills)">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-card-header>

    <ion-card-content>
      <ion-row *ngFor="let skill of getBonusSkillsAndFormData()">
        <ion-col>
          <strong>{{ skill }}</strong>:
          <span [innerHTML]="getSkillDesc(skill) | markdown"></span>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card #itemsCard>
    <ion-card-header>
      <ion-card-title>Items</ion-card-title>
      <ion-button class="edit-section" fill="clear" (click)="setStep(Step.Items)">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngIf="!itemsForm.get('items').value?.length">
          None
        </ion-item>

        <ion-item *ngFor="let item of itemsForm.get('items').value">
          <app-item [item]="item"></app-item>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card #connectionsCard>
    <ion-card-header>
      <ion-card-title>Connections</ion-card-title>
      <ion-button class="edit-section" fill="clear" (click)="setStep(Step.Connections)">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-card-header>

    <ion-card-content>
      <ng-container *ngIf="chosenVagabond">
        <ion-row *ngFor="let conn of connectionsForm.get('connections').value; let i = index">
          <ion-col>
            <strong>{{ chosenVagabond.connections[i].name }} ({{ conn }})</strong>:
            <span [innerHTML]="getConnectionDesc(chosenVagabond.connections[i].name) | markdown"></span>
          </ion-col>
        </ion-row>
      </ng-container>
    </ion-card-content>
  </ion-card>

  <ion-card #finishCard>

    <ion-card-header>
      <ion-card-title>
        Looking good?
      </ion-card-title>

      <ion-card-subtitle>
        If not, you can still go back.
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <ion-list>

        <ion-item lines="none">
          <ion-row class="action-row">
            <ion-col size="12" size-sm="6">
              <ion-button color="secondary" (click)="prev()">
                <ion-icon slot="start" name="caret-back"></ion-icon>
                Connections
              </ion-button>
            </ion-col>

            <ion-col size="12" size-sm="6" class="ion-text-right">
              <ion-button color="primary" (click)="confirm()">
                <ion-icon slot="end" name="caret-forward"></ion-icon>
                Confirm
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>

    </ion-card-content>

  </ion-card>
</ng-template>
