<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'dashboard/campaigns/view/' + (data.campaign$ | async)?._id + '/clearings'"></ion-back-button>
    </ion-buttons>

    <ion-title>
      {{ (data.campaignClearing$ | async).clearing?.name }} Landscape
    </ion-title>

    <ion-buttons slot="end">

      <ion-button (click)="toggleEdit()">
        <ion-icon slot="icon-only" name="pencil"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="data.campaign$ | async as campaign">
    <ng-container *ngIf="(data.campaignClearing$ | async).clearing as clearing">
      <ion-row>
        <ion-col size-xs="12" size-lg="6">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Landmarks & Locations</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-list>

                <!-- landmarks -->
                <ion-item *ngIf="!isEditing">
                  <ion-label class="ion-text-wrap">
                    <p class="fake-form-label">Landmarks</p>
                    <h2 class="can-be-preformatted">{{ clearing.landscape.landmarks }}</h2>
                  </ion-label>
                </ion-item>

                <ion-item *ngIf="isEditing">
                  <ion-label position="stacked">Landmarks</ion-label>
                  <ion-textarea [(ngModel)]="clearing.landscape.landmarks" placeholder="Enter Clearing landmarks" maxlength="1000" rows="7"></ion-textarea>
                </ion-item>


                <!-- locations -->
                <ion-item *ngIf="!isEditing">
                  <ion-label class="ion-text-wrap">
                    <p class="fake-form-label">Locations</p>
                    <h2 class="can-be-preformatted">{{ clearing.landscape.locations }}</h2>
                  </ion-label>
                </ion-item>

                <ion-item *ngIf="isEditing">
                  <ion-label position="stacked">Locations</ion-label>
                  <ion-textarea [(ngModel)]="clearing.landscape.locations" placeholder="Enter Clearing locations" maxlength="1000" rows="7"></ion-textarea>
                </ion-item>

              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size-xs="12" size-lg="6">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Clearing Connections</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-list>
                <ion-item *ngIf="clearing.landscape.clearingConnections.length === 0">No connections.</ion-item>
                <ion-item class="pointer"
                          [routerLink]="['/dashboard/campaigns/view', (data.campaign$ | async)?._id, 'clearings', clearingId, 'landscape']"
                          *ngFor="let clearingId of clearing.landscape.clearingConnections">
                  {{ campaign.clearings[clearingId]?.name }}
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-container>
  </ng-container>
</ion-content>
