<ion-header>
  <ion-toolbar color="navbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard/campaigns"></ion-back-button>
    </ion-buttons>

    <ion-title>
      <ng-container *ngIf="data.campaign$ | async as campaign">
        {{ campaign?.name || 'Loading...' }}
      </ng-container>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="notification.rollDice()">
        <ion-icon slot="icon-only" name="dice"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="data.campaign$ | async as campaign">
    <ng-container *ngIf="data.campaignCharacters$ | async as campaignCharacters">
      <div class="blank-slate" *ngIf="campaignCharacters.length === 0">
        There are no players in your campaign... yet!
      </div>

      <ion-row>

        <ion-col *ngFor="let character of campaignCharacters"
                size-xs="12" size-lg="4"
                lines="none"
                class="ion-hide-md-up"
                appLongPress="500"
                (release)="showActionActionSheet(campaign, character)">

          <ng-container [ngTemplateOutlet]="characterCard"
                        [ngTemplateOutletContext]="{ campaign: campaign, character: character }"></ng-container>

        </ion-col>


        <ion-col *ngFor="let character of campaignCharacters"
                size-xs="12" size-lg="4"
                lines="none"
                class="ion-hide-md-down">

          <ng-container [ngTemplateOutlet]="characterCard"
                        [ngTemplateOutletContext]="{ campaign: campaign, character: character, big: true }"></ng-container>

        </ion-col>
      </ion-row>
    </ng-container>
  </ng-container>
</ion-content>


<ng-template #characterCard let-campaign="campaign" let-character="character" let-big="big">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ character.name }} <small>({{ character.pronouns }})</small></ion-card-title>
      <ion-card-subtitle>{{ character.archetype }}</ion-card-subtitle>

      <ion-button class="card-header-button" fill="clear" (click)="showActionPopover(campaign, character, $event)" *ngIf="big">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-card-header>

    <ion-card-content>

      <ion-row class="stat-row">
        <ion-col class="stat" *ngFor="let stat of content.getStats()">
          <div class="stat-name">
            {{ stat }}
          </div>

          <div class="stat-value">
            {{ characterHelper.getStatTotal(character, stat.toLowerCase()) | withPlus }}
          </div>
        </ion-col>

      </ion-row>

      <ion-row class="row-header">
        <ion-col class="row-header-label">
          Harm
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let harm of ['Injury', 'Exhaustion', 'Depletion']" class="harm-row">
        <ion-col class="harm-label">{{ harm }}</ion-col>
        <ion-col class="harm-box"
                 *ngFor="let i of characterHelper.harmMax(character)">
          <ion-icon [name]="character.harm[harm.toLowerCase()] > i ? 'checkbox-outline' : 'square-outline'"
                    *ngIf="i < characterHelper.harmCount(character, harm.toLowerCase())"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row class="row-header">
        <ion-col class="row-header-label">
          Reputation
        </ion-col>
      </ion-row>

      <ion-row class="reputation-row" *ngFor="let rep of character.reputation | keyvalue">
        <ion-col class="reputation-label">{{ rep.key }}</ion-col>
        <ion-col class="reputation-value">{{ getRepTotal(rep.value) | withPlus }}</ion-col>
      </ion-row>

      <ion-row class="row-header">
        <ion-col class="row-header-label">
          Items
        </ion-col>
      </ion-row>

      <ion-row *ngIf="character.items.length === 0">
        <ion-col class="ion-text-center">None</ion-col>
      </ion-row>

      <ion-row *ngFor="let item of character.items">
        <ion-col>
          <app-item [item]="item" [showFooter]="false"></app-item>
        </ion-col>
      </ion-row>

      <ion-row class="row-header">
        <ion-col class="row-header-label">
          Moves
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6" *ngFor="let move of character.moves" class="ion-text-center">{{ move }}</ion-col>
      </ion-row>

      <ion-row class="row-header">
        <ion-col class="row-header-label">
          Connections
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6" class="ion-text-center" *ngFor="let conn of character.connections"><strong>{{ conn.name }}:</strong> {{ conn.target }}</ion-col>
      </ion-row>

      <ion-row class="row-header">
        <ion-col class="row-header-label">
          Miscellaneous
        </ion-col>
      </ion-row>

      <ion-row class="misc-row">
        <ion-col size="6" class="ion-text-center">
          <strong>Nature:</strong> {{ character.nature }}
        </ion-col>

        <ion-col size="6" class="ion-text-center">
          <strong>Drives:</strong> {{ character.drives.join(', ') }}
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ng-template>
